<div class="view-data-thumbnail-page">
  <mat-card class="mat-elevation-z20">
    <mat-card-header>
      <mat-card-title>Data - Thubnail perspective</mat-card-title>
      <mat-card-subtitle>
        Maintain data for a view in a thumbnail fashion. Allows searching across all items and their attributes.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!done">
        Loading ...
      </div>
      <ng-container *ngIf="done">
        <app-data-thumbnail [itemAndAttributeSet]="itemAndAttributeSet"
                            (searchEvents)="onDataThumbnailSearchEvent($event)"
                            (events)="onDataThumbnailEvent($event)">
        </app-data-thumbnail>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
