<div class="export-page" [attr.test-page-title]="'export'">
    <mat-card class="mat-elevation-z-20">
        <mat-card-header>
            <mat-card-title>Export data</mat-card-title>
            <mat-card-subtitle>
                Wizard to export item(s) from View
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *loadIf="!ready">Loading ...</ng-container>
            <app-export-data *ngIf="ready"
                             [attr.test-export-data-wizard]="''"
                             [views]="allViews"
                             [viewAttributesFn]="viewAttributeFn"
                             [viewPricingStructuresFn]="viewPricingStructuresFn"
                             [previewExportFn]="previewExportFn"
                             [submitExportJobFn]="submitExportJobFn">
            </app-export-data>
        </mat-card-content>
    </mat-card>
</div>
