<div class="profile-page" [attr.test-page-title]="'profile'" [attr.test-page-ready]="''+((!!allPredefinedAvatars) && (!!myself) && (!!allThemes))">
  <mat-card *ngIf="ready && avatarsReady" class="profile-page-card">
    <mat-card-header>
      <mat-card-title>
        Profile
      </mat-card-title>
      <mat-card-subtitle>
        Edit and update your profile information here.
      </mat-card-subtitle>
    </mat-card-header>


    <div class="avatar-section">
      <app-avatar *ngIf="allPredefinedAvatars"
                  [user]="myself"
                  [editable]="true"
                  [allPredefinedAvatars]="allPredefinedAvatars"
                  (events)="onAvatarComponentEvent($event)"
                  width="200px"
                  height="200px">
      </app-avatar>
    </div>

    <mat-divider></mat-divider>

    <div class="personal-section">
      <app-profile-info [user]="myself"
                        (events)="onProfileInfoEvent($event)">
      </app-profile-info>
    </div>

    <mat-divider></mat-divider>

    <div class="password-section">
      <app-password (events)="onPasswordEvent($event)">
      </app-password>
    </div>

    <mat-divider></mat-divider>

    <div class="theme-section">
      <mat-form-field>
        <mat-label>Themes</mat-label>
        <mat-select (selectionChange)="onThemeSelectionChanged($event)" [formControl]="formControlTheme" [attr.test-theme-select]="''">
          <mat-option *ngFor="let theme of allThemes" [value]="theme" [attr.test-theme-select-option]="theme.cssClassName">
            {{theme.description}}
          </mat-option>
        </mat-select>
        <mat-hint align="end">Choose your favourite color theme</mat-hint>
      </mat-form-field>
    </div>

  </mat-card>
</div>
