<div class="notification-component">
  <mat-icon *ngIf="noOfNewNotifications <= 0"
            class="notification-icon"
            (click)="onNotificationIconClicked($event)">
    notifications
  </mat-icon>
  <mat-icon *ngIf="noOfNewNotifications > 0"
            class="notification-icon"
            [matBadge]="noOfNewNotifications"
            matBadgeColor="accent"
            matBadgeDescription="Notifications"
            (click)="onNotificationIconClicked($event)">
    notifications
  </mat-icon>
</div>
