
<div class="view-only-data-table-component">
    <table mat-table [dataSource]="datasource">
        <ng-container matColumnDef="expansion" sticky>
            <th mat-header-cell class="expansion-header" *matHeaderCellDef></th>
            <td mat-cell class="expansion" *matCellDef="let tableItem">
                <mat-icon class="selectable" *ngIf="!isRowExpanded(tableItem)" (click)="rowClicked(tableItem)" [attr.test-row-isExpanded]="'false'">chevron_right</mat-icon>
                <mat-icon class="selectable" *ngIf="isRowExpanded(tableItem)" (click)="rowClicked(tableItem)" [attr.test-row-isExpanded]="'true'">expand_more</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="children-expansion" sticky>
            <th mat-header-cell class="expansion-header" *matHeaderCellDef></th>
            <td mat-cell class="expansion" *matCellDef="let tableItem">
                <div class="depth-{{tableItem.depth}}">
                    <mat-icon>last_page</mat-icon>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell class="attribute-header" *matHeaderCellDef>Name</th>
            <td mat-cell class="attribute" *matCellDef="let tableItem">
                {{tableItem.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell class="attribute-header" *matHeaderCellDef>Description</th>
            <td mat-cell class="attribute" *matCellDef="let tableItem">
                {{tableItem.description}}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="''+attribute.id" *ngFor="let attribute of attributes">
            <th mat-header-cell class="attribute-header" *matHeaderCellDef>{{attribute.name}}</th>
            <td mat-cell class="attribute" *matCellDef="let tableItem" [attr.test-table-column-attribute]="attribute.name">
                {{tableItem[attribute.id] | itemAttributeValueAsString:attribute }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let tableItem; columns: displayColumns" [attr.test-table-row]="tableItem.name"></tr>
        <tr mat-row *matRowDef="let tableItem; columns: childrenDisplayColumns; when: isChildRow" [attr.test-table-row]="tableItem.name"
                 [@detailExpand]="isAnyParentRowExpanded(tableItem) ? 'expanded' : 'collapsed'"></tr>
    </table>
</div>