.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .page-form {
    max-height: 90vh;
    overflow-y: auto;
    .container {
      width: 35vw;
      opacity: 0.888;

      .header-image {
        width: 85px;
        img {
          margin-left: 15px;
          width: 70px;
        }
      }

      .form, .control {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
          width: 100%;
        }
      }

      .text {
        margin: 15px 0;
      }

      .control {
        .link {
          margin-top: 10px;
          .login-link {
            padding: 3px;
            border-radius: 2px;
            color: var(--my-app-accent-default-contrast);
            background-color: var(--my-app-accent-default);
          }
        }
      }
    }
  }

}
