
.notification-dialog-component {
  position: relative;
  .close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
  }

  .notification {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    .header {
      display: flex;
      font-weight: bolder;
      margin-bottom: 10px;
      .status {
        margin-right: 5px;
      }
      .title {
        .is-new {
        }
      }
    }
    .content {
      margin-left: 30px;
    }
  }
}
