<div class="category-component">
    <!--app-loading [show]="loading"></app-loading-->
    <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="0 0 20%">
            <app-category-tree [categoriesWithItems]="categoriesWithItems"
                               (events)="onCategoryTreeEvent($event)">
            </app-category-tree>
        </div>
        <div fxFlex="0 0 80%">
            <ng-container *ngIf="!loading && displayType === 'category'">
                <div class="view-switch">
                    <mat-icon matTooltip="Toogle category sidebar" (click)="toggleCategorySideBar($event)">menu</mat-icon>
                    <mat-icon matTooltip="Tablular View" (click)="switchToTabularView($event)">view_quilt</mat-icon>     <!-- tabular -->
                    <mat-icon matTooltip="Thumbnail View" (click)="switchToThumbnailView($event)">view_module</mat-icon>    <!-- thumbnail -->
                    <mat-icon matTooltip="List View" (click)="switchToListView($event)">view_list</mat-icon>      <!-- list -->
                </div>
                <div>
                    <div class="table-container" *ngIf="viewType === 'table'" fxLayout="column">
                        <app-data-table [itemAndAttributeSet]="tableItemAndAttributeSet"
                                        fxFlex="1 1 auto"
                                        [enableSearch]="false"
                                        (events)="onDataTableEvent($event)"
                                        (carouselEvent)="onDataTableCarouselEvent($event)"
                                        (searchEvents)="onDataTableSearchEvent($event)">
                        </app-data-table>
                    </div>
                    <div class="thumbnail-container" *ngIf="viewType === 'thumbnail'">
                        <app-data-thumbnail [itemAndAttributeSet]="itemAndAttributeSet"
                                            [enableSearch]="false"
                                            (events)="onThumbnailEvent($event)"
                                            (carouselEvents)="onThumbnailCarouselEvent($event)"
                                            (searchEvents)="onThumbnailSearchEvent($event)">
                        </app-data-thumbnail>
                    </div>
                    <div class="list-container" *ngIf="viewType === 'list'">
                        <app-data-list [itemAndAttributeSet]="itemAndAttributeSet"
                                       [enableSearch]="false"
                                       (events)="onListEvent($event)"
                                       (searchEvents)="onListSearchEvent($event)"
                                       (carouselEvents)="onListCarouselEvent($event)">
                        </app-data-list>
                    </div>
                    <app-pagination [pagination]="pagination" (events)="onPaginationEvent($event)"></app-pagination>
                </div>
            </ng-container>
            <ng-container *ngIf="!loading && displayType === 'item'">
                <div>
                    <app-item-info [attributes]="attributes"
                                   (carouselEvent)="onItemInfoCarouselEvent($event)"
                                   (itemEditorEvent)="onItemInfoItemEditorEvent($event)"
                                   (dataEditorEvent)="onItemInfoDataEditorEvent($event)"
                                   [item]="item">
                    </app-item-info>
                </div>
            </ng-container>
        </div>
    </div>
</div>
