<div class="category-component">
    <div fxLayout="row">
        <div fxFlex="0 0 auto">
            <!--
            <app-category-tree [categoriesWithItem]="categoriesWithItems"
                               (events)="onCategoryTreeEvent($event)">
            </app-category-tree>
            -->
        </div>
        <div fxFlex="0 0 auto">
            <div fxLayout="column">
                <div fxFlex="0 0 auto">
                    Tool bar
                </div>
                <div fxFlex="0 0 auto">
                    <!--
                    <app-data-table [itemAndAttributeSet]="itemAndAttributeSet">
                    </app-data-table>
                    -->

                </div>
            </div>
        </div>
    </div>
</div>