
<div class="category-management-component">
    <div class="controls">
        <button mat-flat-button color="primary" [disabled]="!hasCategory()" (click)="addRootCategory($event)">Add Root Category</button>
        <button mat-flat-button color="primary" [disabled]="!hasCategory() || !hasTreeNodeSelected()" (click)="addChildCategory($event)">Add Child Category</button>
        <button mat-flat-button color="primary" [disabled]="!hasCategory() || !hasTreeNodeSelected()" (click)="deleteCategory($event)">Delete Category</button>
    </div>
    <div>
        <div fxLayout="row">
            <div fxFlex="1 0 auto">
                <div *ngIf="!treeLoading && categoriesWithItems && !categoriesWithItems.length">No categories</div>
                <div *loadIf="treeLoading">Loading ...</div>
                <app-category-tree *ngIf="categoriesWithItems"
                                   [includeItems]="false"
                                   [selectedCategoryId]="selectedTreeNode && selectedTreeNode.currentCategoryWithItems ? (selectedTreeNode.currentCategoryWithItems.id) : null"
                                   (events)="onCategoryTreeEvents($event)"
                                   [categoriesWithItems]="categoriesWithItems">
                </app-category-tree>
            </div>
            <div fxFlex="3 0 auto">
                <div *ngIf="addableCategoryTableItems">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Items Not in Category </mat-card-title>
                            <mat-card-subtitle>These items are not currently in selected category and can be added to it.</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <app-category-item-table [categorySimpleItems]="addableCategoryTableItems"
                                                     [actions]="addableCategoryTableActions"
                                                     (events)="onAddableCategoryTableEvent($event)">
                            </app-category-item-table>
                            <app-pagination [pagination]="addableCategoryTableItemsPagination"
                                            (events)="onAddableCategoryTableItemsPaginationEvent($event)">
                            </app-pagination>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div *ngIf="removableCategoryTableItems">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Items in Category</mat-card-title>
                            <mat-card-subtitle>These items are in selected category and can be removed from it.</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <app-category-item-table [categorySimpleItems]="removableCategoryTableItems"
                                                     [actions]="removeableCategoryTableActions"
                                                     (events)="onRemoveableCategoryTableEvent($event)">
                            </app-category-item-table>
                            <app-pagination [pagination]="removableCategoryTableItemsPagination"
                                            (events)="onRemovableCategoryTableItemsPaginationEvent($event)">
                            </app-pagination>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>