<div class="category-component">
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="0 0 200px">
            <div class="tree-container">
                <app-category-tree [categoriesWithItem]="categoriesWithItems"
                                   (events)="onCategoryTreeEvent($event)">
                </app-category-tree>
            </div>
        </div>
        <div fxFlex="0 0 calc(100% - 220px)">
            <div fxLayout="column">
                <div *loadIf="loading">Loading...</div>
                <ng-container *ngIf="!loading && displayType === 'category'">
                    <div fxFlex="0 0 100%">
                        Tool bar
                    </div>
                    <div fxFlex="0 0 100%">
                        <div class="table-container">
                            <app-data-table [itemAndAttributeSet]="itemAndAttributeSet">
                            </app-data-table>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!loading && displayType === 'item'">
                    <div fxFlex="0 0 100%">
                        <app-item-info [attributes]="attributes"
                                       [item]="item">
                        </app-item-info>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
