.item-data-editor-dialog-component {
  overflow-y: hidden;
  .form {
    width: 100%;
    overflow-y: scroll;
  }
  .control {
    width: 100%;
    button:not(:last-child) {
      margin-right: 5px;
    }
  }
}
