<div class="view-validation-page" [attr.test-page-title]="'view-validations'">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Validation</mat-card-title>
            <mat-card-subtitle>Validation of view (it's attribute, item and data)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="loading">Loading ...</div>
            <div fxLayout="column" fxLayoutGap="20px">
                <div fxFlex="1 1 auto">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <div fxFlex="0 0 auto">
                            <app-validation-run *ngIf="view" [view]="view" (events)="onValidationRun($event)"></app-validation-run>
                        </div>
                        <div fxFlex="0 0 auto">
                            <button mat-flat-button color="primary" [attr.test-button-reload-validation]="''" (click)="reload($event)">Reload</button>
                        </div>
                    </div>
                </div>
                <div fxFlex="1 1 auto">
                    <app-validation-result-listing
                            *ngIf="view"
                            [attr.test-validation-result-page]="''"
                            [view]="view"
                            [validations]="validations"
                            (events)="onValidationResultListingEvents($event)">
                    </app-validation-result-listing>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
