<div class="view-data-list-page" [attr.test-page-title]="'view-data-list'" [attr.test-page-ready]="''+(done)">
    <mat-card class="mat-elevation-z20">
        <mat-card-header>
            <mat-card-title>Data - List perspective</mat-card-title>
            <mat-card-subtitle>
                Maintain data for a view in a list fashion. Allows searching across all items and their attributes.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="done && !itemAndAttributeSet">No Items</div>
            <ng-container *ngIf="itemAndAttributeSet">
                <app-data-list [itemAndAttributeSet]="itemAndAttributeSet"
                               (searchEvents)="onDataListSearchEvent($event)"
                               (events)="onDataListEvent($event)">
                </app-data-list>
                <app-pagination [pagination]="pagination" (events)="onPaginationEvent($event)"></app-pagination>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>
