<div class="custom-import-page" [attr.test-page-title]="'custom-import'" [attr.test-page-ready]="''+(ready)">
    <mat-card class="mat-elevation-z-20">
        <mat-card-header>
            <mat-card-title>Custom Import</mat-card-title>
            <mat-card-subtitle>
                Perform custom import
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-custom-import-wizard
                    *ngIf="ready"
                    [attr.test-custom-import-wizard]="''"
                    [customImportPreviewFn]="customImportPreviewFn"
                    [customImportSubmitFn]="customImportSubmitFn"
                    [customInputFormValidateFn]="customImportValidateFn"
                    [customDataImports]="customDataImports">
            </app-custom-import-wizard>
        </mat-card-content>
    </mat-card>
</div>
