<div class="workflow-help-page">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Help with Workflow
            </mat-card-title>
            <mat-card-subtitle>
                Workflow are decisions process that are assignable to item, attributes, price, rule, user, category
                and attached to respective views and triggered by their respective 'create', 'edit' or 'delete' actions.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-help [help]="help"></app-help>
        </mat-card-content>
    </mat-card>
</div>
