
<div class="view-data-tabular-page" [attr.test-page-title]="'view-data-table'">
  <mat-card class="mat-elevation-z20">
    <mat-card-header>
      <mat-card-title>Data - Tablular perspective</mat-card-title>
      <mat-card-subtitle>
        Maintain data for a view in a tabular fashion. Allows saerching across all items and their attributes.
        Allow filtering (hide/show) and sorting of columns.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!done"> Loading ... </div>
      <div *ngIf="done && !itemAndAttributeSet">No Items</div>
      <app-data-table *ngIf="done && itemAndAttributeSet"
                      (searchEvents)="onDataTableSearchEvent($event)"
                      (events)="onDataTableEvent($event)"
                      [itemAndAttributeSet]="itemAndAttributeSet">
      </app-data-table>
    </mat-card-content>
  </mat-card>
</div>
