.category-component {
  height: 100%;
  .category-tree {
    overflow-x: scroll;
  }
  .view-switch {
    .mat-icon {
      cursor: pointer;
    }
  }
  .table-container {
    ::ng-deep {
      mat-table {
        // width: 77vw !important;
      }
    }

  }
}