.category-tree-component {
  height: 100%;
  ::ng-deep {
    .mat-tree {
      height: 100%;
      .mat-tree-node {
        .drag-enter {
          border: var(--my-app-primary-darker) solid 2px;
          border-radius: 5px;
        }
        .label {
          cursor: pointer;
          padding: 5px;
          border-radius: 2px;
          &.selected {
            background-color: var(--my-app-primary-lighter);
            color: var(--my-app-primary-lighter-contrast) !important;
          }
        }
      }
    }
  }
}