@use '@angular/material' as mat;


$theme-indigo-pink-primary: mat.define-palette(mat.$indigo-palette);
$theme-indigo-pink-accent: mat.define-palette(mat.$pink-palette);
$theme-indigo-pink-warn: mat.define-palette(mat.$deep-orange-palette);

$theme-indigo-pink-light: mat.define-light-theme(
  $theme-indigo-pink-primary,
  $theme-indigo-pink-accent,
  $theme-indigo-pink-warn);

$theme-indigo-pink-dark: mat.define-dark-theme(
    $theme-indigo-pink-primary,
    $theme-indigo-pink-accent,
    $theme-indigo-pink-warn);
