@use '~@angular/material' as mat;


$theme-indigo-lightblue-primary: mat.define-palette(mat.$indigo-palette);
$theme-indigo-lightblue-accent: mat.define-palette(mat.$light-blue-palette);
$theme-indigo-lightblue-warn: mat.define-palette(mat.$deep-orange-palette);

$theme-indigo-lightblue-light: mat.define-light-theme(
    $theme-indigo-lightblue-primary,
    $theme-indigo-lightblue-accent,
    $theme-indigo-lightblue-warn);

$theme-indigo-lightblue-dark: mat.define-dark-theme(
    $theme-indigo-lightblue-primary,
    $theme-indigo-lightblue-accent,
    $theme-indigo-lightblue-warn);

