
<div class="user-role-page" [attr.test-page-title]="'user-role'" [attr.test-page-ready]="''+(ready)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Roles</mat-card-title>
      <mat-card-subtitle>Configure groups for 'view', 'edit' and 'partner' roles</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    <mat-accordion>
      <app-loading [show]="!ready"></app-loading>
      <mat-expansion-panel *ngFor="let role of allRoles" [attr.test-expansion-panel]="role.name">
        <mat-expansion-panel-header [attr.test-expansion-panel-header]="role.name">
          <mat-panel-title>
              {{role.name}}
          </mat-panel-title>
          <mat-panel-description>
              {{role.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-group-table
                [attr.test-expansion-panel-content]="role.name"
                searchFieldPlaceholder="Group Name to add to role"
                searchFieldHint="Search from auto suggest group to add to role"
                searchFieldLabel="Search for a group to add to role."
                [groups]="allRoleGroups.get(role)"
                [actions]="actions"
                [groupSearchFn]="groupSearchByRole(role)"
                (events)="onRoleGroupTableEvent($event, role)">
        </app-group-table>
      </mat-expansion-panel>

    </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
