<div class="forums-listings-component">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let forum of forums">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   {{forum.title}}
                </mat-panel-title>
                <mat-panel-description>
                    {{forum.description}}
                    <mat-icon (click)="onViewFormDetails($event, forum)">more_vert</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <table mat-table [dataSource]="[
                         {name: 'Creator', value: forum.creator.name},
                         {name: 'Date', value: formatDate(forum.creationDate)},
                         {name: 'Title', value: forum.title},
                         {name: 'Description', value: forum.description}
                    ]">
                    <ng-container matColumnDef="name">
                       <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                       <td mat-cell *matCellDef="let element">{{element.value}}</td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'value']"></tr>
                </table>
                <!--
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxFlex="0 0 auto">Creator:</div>
                    <div fxFlex="1 1 auto">{{forum.creator.name}}</div>
                </div>
                <div fxLayout="row">
                    <div fxFlex>Date:</div>
                    <div fxFlex>{{forum.creationDate | date}}</div>
                </div>
                <div fxLayout="row">
                    <div fxFlex>Title:</div>
                    <div fxFlex>{{forum.title}}</div>
                </div>
                <div fxLayout="row">
                    <div fxFlex>Description:</div>
                    <div fxFlex>{{forum.description}}</div>
                </div>
                -->
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>