version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    working_directory: ~/be
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install &&
                   npm build &&
                   npm test &&
workflows:
  build-and-test:
    jobs:
      - build-and-test