<div class="attribute-operator-editor-component">
    <form [formGroup]="formGroup">
        <mat-form-field *ngIf="attributes">
            <mat-label>Attribute</mat-label>
            <mat-select (selectionChange)="onAttributeSelectionChange($event)" [attr.test-select-attribute]="''" [formControl]="formControlAttribute">
                <mat-option *ngFor="let attribute of attributes" [value]="attribute" [attr.test-select-option-attribute]="attribute.name">{{attribute.name}}</mat-option>
            </mat-select>
            <mat-hint>Select attribute</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="operators">
            <mat-label>Operator</mat-label>
            <mat-select (selectionChange)="onOperatorSelectionChange($event)" [attr.test-select-attribute-operator]="''" [formControl]="formControlOperator">
                <mat-option *ngFor="let operator of operators" [value]="operator" [attr.test-select-option-attribute-operator]="operator">{{operator}}</mat-option>
            </mat-select>
            <mat-hint>Select operator {{this.operator}}</mat-hint>
        </mat-form-field>

        <!-- formControl -->
        <ng-container *ngIf="formControl && attribute">
            <ng-container [ngSwitch]="attribute.type">
                <mat-form-field *ngSwitchCase="'date'">
                    <mat-label>Value</mat-label>
                    <input matInput [matDatepicker]="picker" [attr.test-field-value]="''" [formControl]="formControl" (dateChance)="onDateChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker" [attr.test-datepicker-toggle]="''"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>Enter value ({{DATE_FORMAT}} format)</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'dimension'">
                    <mat-label>Length Value</mat-label>
                    <input matInput [formControl]="formControl" [attr.test-field-value]="''" (focusout)="onValueChange()">
                    <mat-hint>Enter Length value</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'doubleselect'">
                    <!-- needs to be a double select key1 -->
                    <mat-label>Key1 Value</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select (selectionChange)="onValueChange()" [attr.test-mat-select-field-doubleselect-1]="''" [formControl]="formControl">
                        <mat-option *ngFor="let pair1 of attribute.pair1" [value]="pair1.key" [attr.test-mat-select-option-field-doubleselect-1]="pair1.key">
                            {{pair1.value}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Key1 value</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'select'">
                    <!-- needs to be a select -->
                    <mat-label>Key1 Value</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select (selectionChange)="onValueChange()" [attr.test-mat-select-field-select]="''" [formControl]="formControl">
                        <mat-option *ngFor="let pair1 of attribute.pair1" [value]="pair1.key" [attr.test-mat-select-option-field-select]="pair1.key">
                            {{pair1.value}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Key value</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchDefault>
                    <mat-label>Value</mat-label>
                    <input matInput [formControl]="formControl" [attr.test-field-value]="''" (focusout)="onValueChange()">
                    <mat-hint>Enter value</mat-hint>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <!-- formControl2 -->
        <ng-container *ngIf="formControl2 && attribute">
            <ng-container [ngSwitch]="attribute.type">
                <mat-form-field *ngSwitchCase="'dimension'">
                    <mat-label>Width Value</mat-label>
                    <input matInput [formControl]="formControl2" [attr.test-field-value2]="''" (focusout)="onValueChange()">
                    <mat-hint>Enter Width Value</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'doubleselect'">
                    <!-- needs to be a doubleselect key 2 -->
                    <mat-label>key2 Value</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select (selectionChange)="onValueChange()" [attr.test-mat-select-field-doubleselect-2]="''" [formControl]="formControl2">
                        <mat-option *ngFor="let pair2 of getDoubleselectPair2()" [value]="pair2.key2" [attr.test-mat-select-option-field-doubleselect-2]="pair2.key2">
                            {{pair2.value}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter key2 Value</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'currency'">
                    <mat-label>Currency Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-currency-unit]="''" [formControl]="formControl2" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let currencyUnit of currencyUnits" [value]="currencyUnit" [attr.test-mat-select-option-field-currency-unit]="currencyUnit">
                            {{currencyUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Currency Unit</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'volume'">
                    <mat-label>Volume Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-volume-unit]="''" [formControl]="formControl2" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let volumeUnit of volumeUnits" [value]="volumeUnit" [attr.test-mat-select-option-field-volume-unit]="volumeUnit">
                            {{volumeUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Volume Unit</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'area'">
                    <mat-label>Area Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-area-unit]="''" [formControl]="formControl2" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let areaUnit of areaUnits" [value]="areaUnit" [attr.test-mat-select-option-field-area-unit]="areaUnit">
                            {{areaUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Area Unit</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'width'">
                    <mat-label>Width Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-width-unit]="''" [formControl]="formControl2" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let widthUnit of widthUnits" [value]="widthUnit" [attr.test-mat-select-option-field-width-unit]="widthUnit">
                            {{widthUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Width Unit</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'length'">
                    <mat-label>Length Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-length-unit]="''" [formControl]="formControl2" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let lengthUnit of lengthUnits" [value]="lengthUnit" [attr.test-mat-select-option-field-length-unit]="lengthUnit">
                            {{lengthUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Length Unit</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'height'">
                    <mat-label>Height Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-height-unit]="''" [formControl]="formControl2" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let heightUnit of heightUnits" [value]="heightUnit" [attr.test-mat-select-option-field-height-unit]="heightUnit">
                            {{heightUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Height Unit</mat-hint>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <!-- formControl3 -->
        <ng-container *ngIf="formControl3 && attribute">
            <ng-container [ngSwitch]="attribute.type">
                <mat-form-field *ngSwitchCase="'dimension'">
                    <mat-label>Height Value</mat-label>
                    <input matInput [formControl]="formControl3" [attr.test-field-value3]="''" (focusout)="onValueChange()">
                    <mat-hint>Enter Height value</mat-hint>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <!-- formControl4 -->
        <ng-container *ngIf="formControl3 && attribute">
            <ng-container [ngSwitch]="attribute.type">
                <mat-form-field *ngSwitchCase="'dimension'">
                    <mat-label>Unit</mat-label>
                    <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                    <mat-select [attr.test-mat-select-field-dimension-unit]="''" [formControl]="formControl4" (selectionChange)="onValueChange()">
                        <mat-option *ngFor="let dimensionUnit of dimensionUnits" [value]="dimensionUnit" [attr.test-mat-select-option-field-dimension-unit]="dimensionUnit">
                            {{dimensionUnit}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enter Unit</mat-hint>
                </mat-form-field>
            </ng-container>
        </ng-container>
    </form>

</div>
