<div class="data-editor-no-popup-component">
    <form [formGroup]="formGroup">
        <ng-container *ngIf="attribute">
            <mat-form-field>
                <mat-label>Attribute</mat-label>
                <mat-select (selectionChange)="attributeSelectionChanged($event)" [formControl]="formControlAttribute" [attr.test-mat-select-attribute]="''">
                    <mat-option *ngFor="let attribute of attributes" [value]="attribute" [attr.test-mat-select-option-attribute]="attribute.name">
                        {{attribute.name}}
                    </mat-option>
                </mat-select>
                <mat-hint>Select an attribute</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- string attribute value -->
        <ng-container *ngIf="attribute.type === 'string'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput
                       [attr.test-field-string]="''"
                       type="text"
                       (focusout)="valueChanged()"
                       placeholder="Enter a value"
                       [formControl]="formControl">
                <mat-hint>Enter a string value</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- text attribute value -->
        <ng-container *ngIf="attribute.type === 'text'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <textarea matInput
                          (focusout)="valueChanged()"
                          [attr.test-field-text]="''"
                          type="text"
                          [formControl]="formControl">
                </textarea>
                <mat-hint>Enter a text value</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- numeric attribute value -->
        <ng-container *ngIf="attribute.type === 'number'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput
                       type="number"
                       [attr.test-field-number]="''"
                       (focusout)="valueChanged()"
                       placeholder="Enter a value"
                       [formControl]="formControl">
                <mat-hint>Enter a numeric value</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- date attribute value -->
        <ng-container *ngIf="attribute.type === 'date'">
            <mat-form-field>

                <mat-label>Value</mat-label>
                <input matInput type="text" [attr.test-field-date]="''" [matDatepicker]="datepicker" (dateChange)="onDateChanged($event)" [formControl]="formControl" placeholder="Enter a date">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <mat-hint>Enter a date</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- currency attribute type -->
        <ng-container *ngIf="attribute.type === 'currency'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="text" [attr.test-field-currency]="''" [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a value">
                <mat-hint>Enter a currency value</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event);" [attr.test-mat-select-currency-unit]="''">
                    <mat-option *ngFor="let currencyUnit of currencyUnits" [value]="currencyUnit" [attr.test-mat-select-option-currency-unit]="currencyUnit">
                        {{currencyUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a currency unit</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- area attribute type -->
        <ng-container *ngIf="attribute.type === 'area'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="text" [attr.test-field-area]="''" [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter an area">
                <mat-hint>Enter an Area Value</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" [attr.test-mat-select-area-unit]="''" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let areaUnit of areaUnits" [attr.test-mat-select-option-area-unit]="areaUnit" [value]="areaUnit">
                        {{areaUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter an Area Unit</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- volume attribute type -->
        <ng-container *ngIf="attribute.type === 'volume'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" matInput [attr.test-field-volume]="''" [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a volume">
                <mat-hint>Enter a volume value</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)" [attr.test-mat-select-volume-unit]="''">
                    <mat-option *ngFor="let volumeUnit of volumeUnits" [value]="volumeUnit" [attr.test-mat-select-option-volume-unit]="volumeUnit">
                        {{volumeUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a volume unit</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- dimension attribute type -->
        <ng-container *ngIf="attribute.type === 'dimension'">
            <mat-form-field>
                <mat-label>Length Value</mat-label>
                <input type="text" matInput [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a length" [attr.test-field-dimension-width]="''">
                <mat-hint>Enter a length</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Width Value</mat-label>
                <input type="text" matInput [formControl]="formControl2" (focusout)="valueChanged()" placeholder="Enter a width" [attr.test-field-dimension-height]="''">
                <mat-hint>Enter a width</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Height Value</mat-label>
                <input type="text" matInput [formControl]="formControl3" (focusout)="valueChanged()" placeholder="Enter a height" [attr.test-field-dimension-length]="''">
                <mat-hint>Enter a height</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl4" placeholder="Enter a unit" (selectionChange)="onUnitSelectionChanged($event)" [attr.test-mat-select-dimension-unit]="''">
                    <mat-option *ngFor="let dimensionUnit of dimensionUnits" [value]="dimensionUnit" [attr.test-mat-select-option-dimension-unit]="dimensionUnit">
                        {{dimensionUnit}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <!-- width attribute type -->
        <ng-container *ngIf="attribute.type === 'width'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" matInput [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a width" [attr.test-field-width]="''">
                <mat-hint>Enter a width value</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)" [attr.test-mat-select-width-unit]="''">
                    <mat-option *ngFor="let widthUnit of widthUnits" [value]="widthUnit" [attr.test-mat-select-option-width-unit]="widthUnit">
                        {{widthUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a width unit</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- length attribute type -->
        <ng-container *ngIf="attribute.type === 'length'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" type="text" matInput (focusout)="valueChanged()" placeholder="Enter a length" [formControl]="formControl" [attr.test-field-length]="''">
                <mat-hint>Enter a Length value</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)" [attr.test-mat-select-length-unit]="''">
                    <mat-option *ngFor="let lengthUnit of lengthUnits" [value]="lengthUnit" [attr.test-mat-select-option-length-unit]="lengthUnit">
                        {{lengthUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a Length unit</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- height attribute type -->
        <ng-container *ngIf="attribute.type === 'height'">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" matInput (focusout)="valueChanged()" placeholder="Enter a height" [formControl]="formControl" [attr.test-field-height]="''">
                <mat-hint>Enter a height value</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)" [attr.test-mat-select-height-unit]="''">
                    <mat-option *ngFor="let heightUnit of heightUnits" [value]="heightUnit" [attr.test-mat-select-option-height-unit]="heightUnit">
                        {{heightUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a height unit</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- select attribute type -->
        <ng-container *ngIf="attribute.type === 'select'">
            <mat-form-field>
                <mat-label>Selection</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl" (selectionChange)="onSingleSelectChange($event)" [attr.test-mat-select-select]="''">
                    <mat-option *ngFor="let pair of attribute.pair1" [value]="pair.key" [attr.test-mat-select-option-select]="pair.key">
                        {{pair.value}}
                    </mat-option>
                </mat-select>
                <mat-hint>Select a choice</mat-hint>
            </mat-form-field>
        </ng-container>

        <!-- double select attribute type -->
        <ng-container *ngIf="attribute.type === 'doubleselect'">
            <mat-form-field>
                <mat-label>Selection #1</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl" (selectionChange)="onDoubleSelectChange($event)" [attr.test-mat-select-doubleselect-1]="''">
                    <mat-option *ngFor="let pair1 of attribute.pair1" [value]="pair1.key" [attr.test-mat-select-option-doubleselect-1]="pair1.key">
                        {{pair1.value}}
                    </mat-option>
                </mat-select>
                <mat-hint>Choose a selection</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selection #2</mat-label>
                <input matInput type="text" [ngStyle]="{display: 'none', visibility: 'hidden'}">
                <mat-select [formControl]="formControl2" (selectionChange)="onDoubleSelectChange($event)" [attr.test-mat-select-doubleselect-2]="''">
                    <mat-option *ngFor="let pair2 of attribute.pair2" [value]="pair2.key2" [attr.test-mat-select-option-doubleselect-2]="pair2.key2">
                        {{pair2.value}}
                    </mat-option>
                </mat-select>
                <mat-hint>Choose another selection</mat-hint>
            </mat-form-field>
        </ng-container>
    </form>
</div>
