
<div class="data-editor-component" fxLayout="column">
  <span [attr.test-data-editor-value]="itemValueAndAttribute.attribute.name" fxFlex="1 1 auto" (click)="onItemAttributeValueClicked($event)">
      <!--
      <input type="text" [disabled]="false" [readOnly]="true"
             value="{{itemValueAndAttribute?.itemValue | itemAttributeValueAsString:itemValueAndAttribute.attribute}}">
      -->
      {{itemValueAndAttribute?.itemValue | itemAttributeValueAsString:itemValueAndAttribute.attribute}}
  </span>
</div>
