<div class="item-editor-component">
  <ng-container *ngIf="type === 'name'">
    <!--input type="text" [disabled]="false" [readOnly]="true" (click)="onEdit($event, 'name')" value="{{item.name}}"-->
    <span (click)="onEdit($event, 'name')">{{item.name}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'description'">
    <!--input type="text" [disabled]="false" [readOnly]="true" (click)="onEdit($event, 'description')" value="{{item.description}}"-->
    <span (click)="onEdit($event, 'description')">{{item.description}}</span>
  </ng-container>
</div>
