:host {
  width: 100%;
  // display: flex;
  // align-items: center;
}
.item-editor-component {
  // display: flex;
  span {
    outline: none;
    background-color: transparent;
    color: var(--my-app-foreground-text);
    border: none;
    cursor: pointer;
  }
}
