:host {
  display: flex;
  align-items: center;
}
.item-editor-component {
  display: flex;
  input {
    outline: none;
    background-color: transparent;
    color: var(--my-app-foreground-text);
    border: none;
  }
}
