<div class="profile-page">
  <ng-container *ngIf="!ready">
    Loading ...
  </ng-container>
  <mat-card *ngIf="ready" class="profile-page-card">
    <mat-card-header>
      <mat-card-title>
        Profile
      </mat-card-title>
      <mat-card-subtitle>
        Edit and update your profile information here.
      </mat-card-subtitle>
    </mat-card-header>


    <div class="avatar-section">
      <app-avatar [user]="myself"
                  [editable]="true"
                  [allPredefinedAvatars]="allPredefinedAvatars"
                  (events)="onAvatarComponentEvent($event)"
                  width="200px"
                  height="200px">
      </app-avatar>
    </div>

    <mat-divider></mat-divider>

    <div class="personal-section">
      <app-profile-info [user]="myself"
                        (events)="onProfileInfoEvent($event)">
      </app-profile-info>
    </div>

    <mat-divider></mat-divider>

    <div class="password-section">
      <app-password (events)="onPasswordEvent($event)">
      </app-password>
    </div>

    <mat-divider></mat-divider>

    <div class="theme-section">
      <mat-form-field>
        <mat-label>Themes</mat-label>
        <mat-select (selectionChange)="onThemeSelectionChanged($event)">
          <mat-option *ngFor="let theme of allThemes" [value]="theme">
            {{theme.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card>
</div>
