<div class="pricing-page" [attr.test-page-title]="'pricing-structure-partner-association'" [attr.test-page-ready]="''+(!loading)">
    <mat-card class="mat-elevation-z-20">
        <mat-card-header>
            <mat-card-title>Pricing Structure Partner Association</mat-card-title>
            <mat-card-subtitle>
                Manage which partner group(s) gets to see which Pricing Structure
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="loading">Loading ...</div>
        </mat-card-content>
    </mat-card>
</div>
