<div class="category-management-page">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Category</mat-card-title>
            <mat-card-subtitle>Manage and organise categories in view</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="!loading && !view">No view selected</div>
            <app-category-management *ngIf="!loading && view"
                                     [viewId]="view.id"
                                     [getCategorySimpleItemsInCategoryFn]="getCategorySimpleItemsInCatgoryFn"
                                     [getCategorySimpleItemsNotInCategoryFn]="getCategorySimpleItemsNotInCategoryFn"
                                     [getCategoriesWithItemsFn]="getCategoriesWithItemsFn"
                                     [addCategoryFn]="addCategoryFn"
                                     [editCategoryFn]="editCategoryFn"
                                     [deleteCategoryFn]="deleteCategoryFn"
                                     [addItemsToCategoryFn]="addItemsToCategoryFn"
                                     [removeItemsFromCategoryFn]="removeItemsFromCategoryFn"
                                     (categoryTreeDragDropEvents)="onCategoryTreeDragDropEvents($event)"
            >
            </app-category-management>
        </mat-card-content>
    </mat-card>
</div>