
<div class="rule-editor-dialog-component">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Rule name" [formControl]="formControlName">
    <mat-error *ngIf="formControlName?.errors?.required">Name is required</mat-error>
    <mat-hint>Enter rule name</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input type="text" matInput placeholder="Rule Description" [formControl]="formControlDescription">
    <mat-error *ngIf="formControlDescription?.errors?.required">Description is required</mat-error>
    <mat-hint>Enter rule description</mat-hint>
  </mat-form-field>

  <div class="validate-section">
    Validate :
    <div class="validate-controls">
      <button type="button" mat-flat-button color="primary" (click)="onAddRuleValidation($event)">Add Validate Clause</button>
    </div>
    <div class="validate-clauses-section" *ngIf="formArrayValidateClauses.length > 0">
      <div class="validate-clause-section" *ngFor="let formGroupValidateClause of formArrayValidateClauses.controls; let i = index">
        <mat-form-field>
          <mat-label>Attribute</mat-label>
          <mat-select [formControl]="formGroupValidateClause.get('attribute')" (selectionChange)="onValidateAttributeChanged($event, formGroupValidateClause)">
            <mat-option *ngFor="let attribute of attributes" [value]="attribute">
              {{attribute.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroupValidateClause.get('attribute')?.errors?.required">Attribute is required</mat-error>
          <mat-hint>Attribute to validate</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Operator</mat-label>
          <mat-select [formControl]="formGroupValidateClause.get('operator')">
            <mat-option *ngFor="let operator of formGroupValidateClause['operators']" [value]="operator">
              {{operator}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroupValidateClause.get('operator')?.errors?.required">Operator is required</mat-error>
          <mat-hint>Validation operator</mat-hint>
        </mat-form-field>
        <div class="mat-form-field" *ngIf="formGroupValidateClause['itemValueAndAttribute']">
          <mat-label class="mat-caption mat-hint">Condition</mat-label>
          <app-data-editor
            *ngIf="formGroupValidateClause['itemValueAndAttribute']"
            [itemValueAndAttribute]="formGroupValidateClause['itemValueAndAttribute']"
            (events)="onValidateConditionChanged($event, formGroupValidateClause)">
          </app-data-editor>
          <mat-hint class="mat-hint mat-caption">Enter validate condition</mat-hint>
        </div>
        <button type="button" mat-icon-button
                matTooltip="Delete this when clause"
                color="primary"
                (click)="onDeleteRuleValidation($event, formGroupValidateClause)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="when-section">
      When :
      <div class="when-controls">
        <button type="button" mat-flat-button color="primary" (click)="onAddRuleWhen($event)">Add When Clause</button>
      </div>
      <div class="when-clauses-section" *ngIf="formArrayWhenClauses.length > 0">
        <div class="when-clause-section" *ngFor="let formGroupWhenClause of formArrayWhenClauses.controls; let i = index">
          <mat-form-field>
            <mat-label>Attribute</mat-label>
            <mat-select [formControl]="formGroupWhenClause.get('attribute')" (selectionChange)="onWhenAttributeChanged($event, formGroupWhenClause)">
              <mat-option *ngFor="let attribute of attributes" [value]="attribute">
                {{attribute.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroupWhenClause.get('attribute')?.errors?.required">Attribute is required</mat-error>
            <mat-hint>Attribute to validate</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Operator</mat-label>
            <mat-select [formControl]="formGroupWhenClause.get('operator')">
              <mat-option *ngFor="let operator of formGroupWhenClause['operators']" [value]="operator">
                {{operator}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroupWhenClause.get('operator')?.errors?.required">Operator is required</mat-error>
            <mat-hint>Validation operator</mat-hint>
          </mat-form-field>
          <div class="mat-form-field" *ngIf="formGroupWhenClause['itemValueAndAttribute']">
            <mat-label class="mat-hint mat-caption">Condition</mat-label>
            <app-data-editor
                             [itemValueAndAttribute]="formGroupWhenClause['itemValueAndAttribute']"
                             (events)="onWhenConditionChanged($event, formGroupWhenClause)"></app-data-editor>
            <mat-hint class="mat-hint mat-caption">Enter when Condition</mat-hint>
          </div>
          <button mat-icon-button
                  matTooltip="delete this when clause"
                  type="button" (click)="onDeleteRuleWhen($event, formGroupWhenClause)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-controls">
    <button type="submit" mat-flat-button color="primary" [disabled]="formGroup.invalid">Done</button>
  </div>
  </form>
</div>
