.workflow-instance-task-table {
  table {
    tr {
      &.normalRow {
        cursor: pointer;
      }
      &.detailsRow {
        &.hidden {
          display: none;
        }
        &.expanded {
          display: inherit;
          & td {
            .details {
              margin: 20px;
            }
          }
        }
      }
    }
  }
}