<div class="pricing-structure-popup-component">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControl]="formControlName">
            <mat-hint>Pricing Structure Name</mat-hint>
            <mat-error *ngIf="formControlName?.errors?.required">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput [formControl]="formControlDescription">
            <mat-hint>Pricing Structure Description</mat-hint>
            <mat-error *ngIf="formControlDescription?.errors?.required">Description is required</mat-error>
        </mat-form-field>

        <div class="controls">
            <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid">Ok</button>
            <button mat-flat-button color="primary" type="button" (click)="onCancel($event)">Cancel</button>
        </div>
    </form>
</div>
