.pricing-structure-table-component {
  .controls {
    margin-bottom: 10px;
  }

  .pricing-structure-selection {
    margin-bottom: 10px;
  }

  .pricing-structure-info {
    .controls {
      margin-bottom: 10px;
      :not(:last-child) {
        margin-right: 5px;
      }
    }
    .content {
      margin-bottom: 10px;
    }
  }

  .pricing-structure-items {
    .content {
      table {
        tr {
          td {
            &.action-controls {
              :not(:last-child) {
                margin-right: 5px;
              }
            }

            &.expansion {
              .mat-icon {
                cursor: pointer;
              }
            }

            .depth-0 {
              margin-left: 0px;
            }
            .depth-1 {
              margin-left: 10px;
            }
            .depth-2 {
              margin-left: 20px;
            }
            .depth-3 {
              margin-left: 30px;
            }
            .depth-4 {
              margin-left: 40px;
            }
            .depth-5 {
              margin-left: 50px;

            }
            .depth-6 {
              margin-left: 60px;

            }
            .depth-7 {
              margin-left: 70px;

            }
            .depth-8 {
              margin-left: 80px;

            }
            .depth-9 {
              margin-left: 90px;

            }
            .depth-10 {
              margin-left: 100px;
            }
          }
        }
        &.attribute {
          min-width: 150px;
        }
      }
    }
  }
}
