<div class="pricing-structure-add-items-component" fxLayout="column">

    <div class="description" fxFlex="1 1 auto">
        <div class="mat-title">
            {{pricingStructure.name}}
        </div>
        <p>
            Only root item are listed. To add children item first add the root parent item, then 'edit' the pricing for children item separately.
        </p>
    </div>

    <div class="controls" fxFlex="1 1 auto">
        <button type="button" mat-flat-button color="primary" (click)="addToPricingStructure($event)">Add to Pricing Structure</button>
    </div>

    <div class="table" [fxFlex="1 1 auto">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="selection">
                <mat-header-cell class="selection-header" *matHeaderCellDef>
                    <mat-checkbox (change)="masterToggle($event)"
                                  [attr.test-checkbox-data-table-master]="''"
                                  [checked]="isMasterToggleChecked()"
                                  [indeterminate]="isMasterToggleIndetermine()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell class="selection" *matCellDef="let pricingStructureItem">
                    <mat-checkbox (change)="nonMasterToggle($event, pricingStructureItem)"
                                  [attr.test-checkbox-data-table-item]="pricingStructureItem.name"
                                  [checked]="isNonMasterToggleChecked(pricingStructureItem)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="item-name">
                <mat-header-cell class="item-name-header" *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let pricingStructureItem">{{pricingStructureItem.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="item-description">
                <mat-header-cell class="item-description-header" *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let pricingStructureItem">{{pricingStructureItem.description}}</mat-cell>
            </ng-container>
        </mat-table>
    </div>

</div>