<div class="view-only-price-table-component">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="pricingStructureName">
            <th mat-header-cell *matHeaderCellDef>Pricing Structure Name</th>
            <td mat-cell *matCellDef="let pricedItem"> {{pricingStructure.name}} </td>
        </ng-container>
        <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef>Item Name</th>
            <td mat-cell *matCellDef="let pricedItem">{{pricedItem.name}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let pricedItem">{{pricedItem.price | currency}}</td>
        </ng-container>
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let pricedItem">{{pricedItem.country}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let attribute; columns: displayedColumns"></tr>
    </table>
</div>
