<div class="notification-message-listing-component">
    <mat-list *ngIf="hasMessages()">
        <ng-container *ngIf="hasInfos()">
            <h3 mat-subheader>Information</h3>
            <mat-list-item *ngFor="let info of messages?.infos ?? []">
                <mat-icon mat-list-icon></mat-icon>
                <h4 mat-line>{{info.title}}</h4>
                <p mat-line>{{info.messsage}}</p>
            </mat-list-item>
        </ng-container>

        <ng-container *ngIf="hasWarnings()">
            <h3 mat-subheader>Warnings</h3>
            <mat-list-item *ngFor="let warn of messages?.warnings ?? []">
                <mat-icon mat-list-icon></mat-icon>
                <h4 mat-line>{{warn.title}}</h4>
                <p mat-line>{{warn.messsage}}</p>
            </mat-list-item>
        </ng-container>

        <ng-container *ngIf="hasErrors()">
            <h3 mat-subheader>Errors</h3>
            <mat-list-item *ngFor="let error of messages?.errors ?? []">
                <mat-icon mat-list-icon></mat-icon>
                <h4 mat-line>{{error.title}}</h4>
                <p mat-line>{{error.messsage}}</p>
            </mat-list-item>
        </ng-container>
    </mat-list>
</div>
