<div class="forgot-password-page" [attr.test-page-title]="'forgot-password'">
   <mat-card class="container">
       <mat-card-header>
           <div mat-card-avatar class="header-image">
               <img src="assets/images/logo/fuyuko-logo.png">
           </div>
           <mat-card-title>
               Forgot your password?
           </mat-card-title>
           <mat-card-subtitle>
               <p>No worries, we got you covered. Hope you remember either your username or email.</p>
               <p>If so, good news, fill either one of them out and we'll send an email to the email address
                   registered with that account with a link to have your password reset.  :-)</p>
           </mat-card-subtitle>
       </mat-card-header>
       <mat-card-content>
           <mat-tab-group [selectedIndex]="0">
               <mat-tab>
                   <form (ngSubmit)="onSubmitByUsername()" [formGroup]="formGroupUsername">
                      <ng-template mat-tab-label>
                          Username
                      </ng-template>
                      <div class="form">
                          <mat-form-field>
                              <input matInput type="text" placeholder="Username" [formControl]="formControlUsername" [attr.test-field-username]="''">
                          </mat-form-field>
                      </div>
                      <div class="controls">
                          <button type="submit" mat-flat-button color="primary" [disabled]="!formGroupUsername.valid" [attr.test-button-login]="''">Submit</button>
                      </div>
                   </form>
               </mat-tab>
               <mat-tab>
                   <form (ngSubmit)="onSubmitByEmail()" [formGroup]="formGroupEmail">
                       <ng-template mat-tab-label>
                           Email
                       </ng-template>
                       <div class="form">
                           <mat-form-field>
                               <input matInput type="text" placeholder="Email" [formControl]="formControlEmail" [attr.test-field-password]="''">
                           </mat-form-field>
                       </div>
                       <div class="controls">
                           <button type="submit" mat-flat-button color="primary" [disabled]="!formGroupEmail.valid" [attr.test-button-login]="''">Submit</button>
                       </div>
                   </form>
               </mat-tab>
           </mat-tab-group>
       </mat-card-content>
       <mat-card-actions>
           <div class="link">
            Remember your password? Login <a href="#" class="login-link" [routerLink]="['/login-layout', 'login']">here</a>
           </div>
       </mat-card-actions>
   </mat-card>
</div>