.validation-result-log-component {
  margin: 10px;
  .logs {
    height: 90vh;
    overflow-y: scroll;
    .log {
      .id {
        min-width: 50px;
      }
      .level {
        min-width: 100px;
      }
      .date {
        min-width: 150px;
      }
      .message {
      }
    }
  }
}
