<simple-notifications></simple-notifications>
<div *ngIf="loading">Loading ...</div>
<div class="gen-layout"
     *ngIf="!loading"
     [attr.test-side-nav-state-open]="''+sideNavOpened"
     [attr.test-help-nav-state-open]="''+helpNavOpened">
  <mat-toolbar color="primary" class="primary-toolbar">
    <mat-toolbar-row>
      <mat-icon class="action"
                [attr.test-side-nav-toggle-icon]="''"
                (click)="onSideNavExpandCollapseButtonClicked($event)">
        more_horiz
      </mat-icon>
      <!-- avatar -->
      <div class="avatar-section">
        <app-avatar [user]="myself"
                    [editable]="false"
                    width="45px"
                    height="45px">
        </app-avatar>
      </div>
      <div class="spacer"></div>
      <app-notification [notifications]="notifications"></app-notification>
      <mat-icon class="action"
                [attr.test-help-nav-toggle-icon]="''"
                (click)="onHelpNavExpandCollapseButtonClicked($event)">
        help
      </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="main-side-nav-container">
    <mat-sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="65" [opened]="sideNavOpened" position="start">
      <div class="side-nav">
        <app-side-nav (logoutEvent)="logout()"></app-side-nav>
      </div>
    </mat-sidenav>
    <mat-sidenav mode="side" [opened]="helpNavOpened" [fixedInViewport]="true" [fixedTopGap]="65" position="end">
      <div class="help-nav">
        <router-outlet name="help"></router-outlet>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet name="primary"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
