<div class="category-management-page">
    <app-loading [show]="loading"></app-loading>
    <div *ngIf="!loading && !view">No view selected</div>
    <app-category-management *ngIf="!loading && view"
                             [viewId]="view.id"
                             [getCategorySimpleItemsInCategoryFn]="getCategorySimpleItemsInCatgoryFn"
                             [getCategorySimpleItemsNotInCategoryFn]="getCategorySimpleItemsNotInCategoryFn"
                             [getCategoriesWithItemsFn]="getCategoriesWithItemsFn"
                             [addCategoryFn]="addCategoryFn"
                             [editCategoryFn]="editCategoryFn"
                             [deleteCategoryFn]="deleteCategoryFn"
                             [addItemsToCategoryFn]="addItemsToCategoryFn"
                             [removeItemsFromCategoryFn]="removeItemsFromCategoryFn">
    </app-category-management>
</div>