
<div class="password-component">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password"
             [formControl]="formControlPassword"
             placeholder="Password"
             required
             [attr.test-field-password]="''">
      <mat-hint align="end">Must match with password below</mat-hint>
      <mat-error *ngIf="formControlPassword.errors && formControlPassword.errors.required">Password is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password"
             [formControl]="formControlConfirmPassword"
             placeholder="Confirm Password"
             required
             [attr.test-field-confirmPassword]="''">
      <mat-hint align="end">Must match with password above</mat-hint>
      <mat-error *ngIf="formControlConfirmPassword.errors && formControlConfirmPassword.errors.required">Confirm password is invalid</mat-error>
    </mat-form-field>
    <mat-error *ngIf="formGroup.errors">Password and confirmed password must be the same</mat-error>

    <div class="control">
      <button type="submit" mat-flat-button color="primary" [disabled]="disable || formGroup.invalid" [attr.test-password-submit-button]="''">Update Password</button>
    </div>
  </form>
</div>
