
<div class="password-component">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="password" [formControl]="formControlPassword" placeholder="Password" required>
      <mat-hint align="end">Must match with password below</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" [formControl]="formControlConfirmPassword" placeholder="Confirm Password" required>
      <mat-hint align="end">Must match with password above</mat-hint>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" [disabled]="formGroup.invalid">Update Password</button>
  </form>
</div>
