<div class="data-list-component">

    <!-- search -->
    <div class="search-container" *ngIf="enableSearch">
        <app-item-search (events)="onItemSearchEvent($event)"></app-item-search>
    </div>

    <!-- main controls -->
    <div class="main-control">
        <button type="button" [attr.test-button-add-item]="''" (click)="addItem($event)" color="primary" mat-flat-button>Add</button>
        <button type="button" [attr.test-button-save]="''" (click)="save($event)" [disabled]="!canSave()" color="primary" mat-flat-button>Save</button>
        <button type="button" [attr.test-button-delete-items]="''" (click)="delete($event)" [disabled]="!canDelete()" color="primary" mat-flat-button>Delete</button>
        <button type="button" [attr.test-button-reload-items]="''" (click)="reload($event)" color="primary" mat-flat-button>Reload</button>
    </div>

    <!-- item list -->
    <div class="container">
        <div class="no-items" *ngIf="itemAndAttributeSet && itemAndAttributeSet.items && itemAndAttributeSet.items.length == 0">No Items</div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of itemAndAttributeSet.items; let i = index;" [attr.test-panel-item]="item.name">
               <mat-expansion-panel-header>
                   <mat-panel-title>
                       <section class="check-box">
                           <mat-checkbox (click)="$event.stopImmediatePropagation();"
                                         [attr.test-mat-checkbox-item]="item.name"
                                         (change)="onCheckboxStateChange($event, item)"></mat-checkbox>
                       </section>
                       <section class="favourite">
                           <mat-icon matTooltip="Unfavourite Item" (click)="onUnfavouriteItem(item)" *ngIf="isFavouriteItem(item)">star</mat-icon>
                           <mat-icon matTooltip="Favourite Item" (click)="onFavouriteItem(item)" *ngIf="!isFavouriteItem(item)">star_border</mat-icon>
                       </section>
                       <section class="item-text">
                           <span [attr.test-item-name]="item.name">{{item.name}}</span>
                       </section>
                   </mat-panel-title>
                   <mat-panel-description>
                       <span [attr.test-item-description]="item.name">{{item.description}}</span>
                       &nbsp; <span>(last update: {{item.lastUpdate ? (item.lastUpdate | date) : 'unkown' }})</span>
                   </mat-panel-description>
               </mat-expansion-panel-header>
                <div>
                    <app-carousel [itemId]="item.id" [images]="getCarouselImages(item)" (events)="onCarouselEvent($event)"></app-carousel>
                </div>
                <div>
                    <mat-label>Name</mat-label>
                    <app-item-editor [item]="item" [attr.test-item-editor]="'name'" [type]="'name'" (events)="onItemDataChange($event, item)"></app-item-editor>
                    <mat-hint>Item name</mat-hint>
                </div>
                <div>
                    <mat-label>Description</mat-label>
                    <app-item-editor [item]="item" [attr.test-item-editor]="'description'" [type]="'description'" (events)="onItemDataChange($event, item)"></app-item-editor>
                    <mat-hint>Item description</mat-hint>
                </div>
                <div>
                    <mat-label>Creation Date</mat-label>
                    <div>{{item.creationDate | date}}</div>
                    <mat-hint>Item creation date</mat-hint>
                </div>
                <div>
                    <mat-label>Last Update</mat-label>
                    <div>{{item.lastUpdate | date}}</div>
                    <mat-hint>Item last update</mat-hint>
                </div>
                <div *ngFor="let attribute of itemAndAttributeSet.attributes; let i = index;">
                   <mat-label>{{attribute.name}}</mat-label>
                   <app-data-editor [itemValueAndAttribute]="{itemValue: getItemValue(item, attribute.id)!, attribute: attribute}"
                                    [attr.test-data-editor]="attribute.name"
                                    (events)="onAttributeDataChange($event, item)"></app-data-editor>
                   <mat-hint>{{attribute.description}}</mat-hint>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
