
<div class="custom-import-preview">
    <div *ngIf="!ready">Loading ...</div>
    <table *ngIf="ready" mat-table [dataSource]="datasource">
        <ng-container *ngFor="let column of preview.columns">
            <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                <td mat-cell *matCellDef="let row">{{row[column]}}</td>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="preview.columns"></tr>
        <tr mat-row *matRowDef="let row; columns: preview.columns;"></tr>
    </table>
</div>
