<div class="custom-import-wizard">
    <mat-horizontal-stepper #stepper>

        <!-- step 1: select custom import -->
        <mat-step [stepControl]="firstStepFormGroup">
            <ng-template matStepLabel>Select custom import</ng-template>
            <form *ngIf="step1Ready" [formGroup]="firstStepFormGroup" (ngSubmit)="onStep1Submit()">
                <app-custom-import-list
                        (events)="onCustomImportListEvent($event)"
                        [customDataImports]="customDataImports">
                </app-custom-import-list>
                <div class="control">
                    <button type="submit" mat-flat-button color="primary" matStepperNext [disabled]="firstStepFormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>

        <!-- step 2: select view -->
        <mat-step [stepControl]="secondStepFormGroup">
            <ng-template matStepLabel>Select view to apply</ng-template>
            <form *ngIf="step2Ready" [formGroup]="secondStepFormGroup" (ngSubmit)="onStep2Submit()">
                <app-view-selector [setCurrentActiveView]="false"
                                   (events)="onViewSelectorEvent($event)">
                </app-view-selector>
                <div class="control">
                    <button mat-flat-button color="primary" matStepperPrevious>Previous</button>
                    <button type="submit" mat-flat-button color="primary" matStepperNext [disabled]="secondStepFormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>

        <!-- step 3: inputs -->
        <mat-step [stepControl]="thirdStepFormGroup">
            <ng-template matStepLabel>Fill in Inputs</ng-template>
            <form *ngIf="step3Ready" [formGroup]="thirdStepFormGroup" (ngSubmit)="onStep3Submit()">
                <app-custom-import-input-form [customDataImport]="formControlCustomDataImport.value"
                                              [view]="formControlView.value"
                                              (events)="onCustomImpotFormEvent($event)"
                                              [validateFn]="customInputFormValidateFn">
                </app-custom-import-input-form>
                <div class="control">
                    <button mat-flat-button color="primary" matStepperPrevious>Previous</button>
                    <button type="submit" mat-flat-button color="primary" matStepperNext [disabled]="thirdStepFormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>

        <!-- step 4: preview -->
        <mat-step [stepControl]="fourthStepFormGroup">
            <ng-template matStepLabel>Preview</ng-template>
            <form *ngIf="step4Ready" [formGroup]="fourthStepFormGroup" (ngSubmit)="onStep4Submit()">
                <app-custom-import-preview [customDataImport]="formControlCustomDataImport.value"
                                           [inputValues]="formControlCustomImportInputValues.value"
                                           [view]="formControlView.value"
                                           (events)="onCustomImportPreviewEvent($event)"
                                           [previewFn]="customImportPreviewFn">
                </app-custom-import-preview>
                <div class="control">
                    <button mat-flat-button color="primary" matStepperPrevious>Previous</button>
                    <button type="submit" mat-flat-button color="primary" matStepperNext [disabled]="fourthStepFormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>

        <!-- step 5: submit job -->
        <mat-step [stepControl]="fifthStepFormGroup">
            <ng-template matStepLabel>Submit Job</ng-template>
            <form *ngIf="step5Ready" [formGroup]="fifthStepFormGroup" (ngSubmit)="onStep5Submit()">
                <app-custom-import-submit-job [customDataImport]="formControlCustomDataImport.value"
                                              [inputValues]="formControlCustomImportInputValues.value"
                                              [view]="formControlView.value"
                                              [preview]="formControlCustomImportPreview.value"
                                              [submitFn]="customImportSubmitFn">
                </app-custom-import-submit-job>
                <div class="control">
                    <button type="submit" mat-flat-button color="primary" matStepperNext [disabled]="fifthStepFormGroup.invalid">Done</button>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>