<div class="edit-rule-page" [attr.test-page-title]="'view-add-rule'" [attr.test-page-ready]="''+(viewReady && ruleReady)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Rule</mat-card-title>
            <mat-card-subtitle>Add rule in curent view</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *loadIf="viewReady && ruleReady">Loading...</div>
            <div class="content">
                <app-rule-editor
                        *ngIf="viewReady"
                        [rule]="rule"
                        [attributes]="attributes"
                        (events)="onRuleEditorEvent($event)">
                </app-rule-editor>
            </div>
        </mat-card-content>
    </mat-card>
</div>
