<div class="view-rules-page" [attr.test-page-title]="'view-rules'" [attr.test-page-ready]="''+(viewReady && rulesReady)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Rules</mat-card-title>
      <mat-card-subtitle>Configuration of rules related the current view</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-loading [show]="!(viewReady && rulesReady)"></app-loading>
      <mat-tab-group *ngIf="viewReady" [dynamicHeight]="true">
        <mat-tab>
          <ng-template mat-tab-label><span [attr.test-tab]="'predefined'">Build In</span></ng-template>
          <div *ngIf="viewReady && !rules">No rules.</div>
          <app-rules-table *ngIf="viewReady && rules"
                           [rules]="rules"
                           [attributes]="attributes"
                           (events)="onRulesTableEvent($event)">
          </app-rules-table>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><span [attr.test-tab]="'custom'">Custom</span></ng-template>
          <div *ngIf="viewReady && !customRules">No Custom Rules.</div>
          <app-custom-rule-table *ngIf="viewReady && customRules"
                                 [allCustomRules]="customRules"
                                 (events)="onCustomRuleTableEvent($event)"
                                 [customRulesInView]="customRulesForView">
          </app-custom-rule-table>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>
