<div class="reset-password-page-component" fxLayout="row" fxLayoutAlign="center center" [attr.test-page-title]="'reset-password'">
        <div fxFlex="1 1 550px">
            <mat-card class="container">
                <mat-card-header>
                    <div mat-card-avatar class="header-image">
                        <img src="assets/images/logo/fuyuko-logo.png">
                    </div>
                    <mat-card-title>
                        Reset password
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>
                            Enter and confirm reset password
                        </p>
                        <div *ngIf="!!status" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="message-box"
                             [ngClass]="{error: (status === 'ERROR'), success: (status === 'SUCCESS')}">
                            <mat-icon *ngIf="status === 'ERROR'" fxFlex="0 0 auto">warning</mat-icon>
                            <mat-icon *ngIf="status === 'SUCCESS'" fxFlex="0 0 auto">info</mat-icon>
                            <div class="message" fxFlex="1 0, auto">{{message}}</div>
                        </div>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <app-password (events)="onPasswordEvent($event)" [disable]="disabled"></app-password>
                </mat-card-content>
            </mat-card>
        </div>
</div>