.reset-password-page-component {
  width: 100%;
  height: 100%;
  .mat-card {

    .mat-card-header {
      .header-image {
        width: 85px;

        img {
          margin-left: 15px;
          width: 70px;
        }
      }
      ::ng-deep .mat-card-header-text {
        width: 100%;
      }
    }


    .message-box {
      padding: 10px;
      border-radius: 5px;
      &.error {
        background-color: var(--my-app-primary-default);
        color: var(--my-app-primary-default-contrast);
      }
      &.success {
        background-color: var(--my-app-accent-default);
        color: var(--my-app-primary-accent-default-contrast);
      }
      mat-icon {
      }
      .message {
      }
    }


    .link {
      margin: 10px 0 10px 10px;
      .login-link {
        padding: 3px;
        border-radius: 2px;
        color: var(--my-app-accent-default-contrast);
        background-color: var(--my-app-accent-default);
      }
    }
  }
}