<div class="attribute-table-component">
  <mat-form-field>
    <mat-label>{{searchFieldLabel}}</mat-label>
    <input type="text"
           matInput
           (keyup.enter)="onAttributeSearchTriggered($event)"
           placeholder="{{searchFieldPlaceholder}}"
           [formControl]="formControlAttributeSearch">
    <mat-hint>{{searchFieldHint}}</mat-hint>
  </mat-form-field>
  <div class="controls">
    <button mat-flat-button color="primary" button (click)="onAddAttributeClick($event)">Add Attribute</button>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let attribute">{{attribute.name}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let attribute">{{attribute.type}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let attribute">{{attribute.description}}</td>
    </ng-container>
    <ng-container matColumnDef="metadata">
      <th mat-header-cell *matHeaderCellDef>Metadata</th>
      <td mat-cell *matCellDef="let attribute">
        <!-- string -->
        <ng-container *ngIf="attribute.type === 'string'">
        </ng-container>

        <!-- text -->
        <ng-container *ngIf="attribute.type === 'text'">
        </ng-container>

        <!-- number -->
        <ng-container *ngIf="attribute.type === 'number'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- date -->
        <ng-container *ngIf="attribute.type ==='date'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- time -->
        <ng-container *ngIf="attribute.type === 'time'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- datetime -->
        <ng-container *ngIf="attribute.type === 'datetime'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- currency -->
        <ng-container *ngIf="attribute.type === 'currency'">
          showCurrencyCountry: {{attribute?.showCurrencyCountry}}
        </ng-container>

        <!-- volumne -->
        <ng-container *ngIf="attribute.type === 'volumne'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- dimension -->
        <ng-container *ngIf="attribute.type === 'dimension'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- area -->
        <ng-container *ngIf="attribute.type === 'area'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- width -->
        <ng-container *ngIf="attribute.type === 'width'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- height -->
        <ng-container *ngIf="attribute.type === 'height'">
          format: {{attribute?.format}}
        </ng-container>

        <!-- length -->
        <ng-container *ngIf="attribute.type === 'length'">
          format: {{attribute?.format}}
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let attribute">
        <mat-icon class="edit" color="primary" (click)="onEditClicked($event, attribute)">edit</mat-icon>
        <mat-icon class="delete" color="primary" (click)="onCancelClicked($event, attribute)">cancel</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let attributes; columns: displayedColumns"></tr>
  </table>
</div>
