.rule-editor-dialog-component {
  ::ng-deep .rule-editor-component {
    .validate-section {
      .validate-clauses-section {
        max-height: 20vh;
        overflow-y: scroll;
      }
    }
    .when-section {
      .when-clauses-section {
        max-height: 20vh;
        overflow-y: scroll;
      }
    }
  }
}
