<div class="rule-editor-component">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" [attr.test-field-rule-name]="''" matInput placeholder="Rule name" [formControl]="formControlName">
            <mat-error *ngIf="formControlName?.errors?.required">Name is required</mat-error>
            <mat-hint>Enter rule name</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input type="text" [attr.test-field-rule-description]="''" matInput placeholder="Rule Description" [formControl]="formControlDescription">
            <mat-error *ngIf="formControlDescription?.errors?.required">Description is required</mat-error>
            <mat-hint>Enter rule description</mat-hint>
        </mat-form-field>

        <div class="validate-section">
            Validate :
            <div class="validate-controls">
                <button type="button" [attr.test-button-add-rule-validate-clause]="''" mat-flat-button color="primary" (click)="onAddRuleValidation($event)">Add Validate Clause</button>
            </div>
            <div class="validate-clauses-section" *ngIf="validateClauses.length > 0">
                <div class="validate-clause-section" *ngFor="let validateClause of validateClauses; let i = index">
                    <app-attribute-operator-editor
                            [attr.test-validate-clause-attribute-editor]="validateClause.id"
                            [attributes]="attributes"
                            [itemValueOperatorAndAttribute]="validateClause"
                            (events)="onValidateClauseChange($event, i)">
                    </app-attribute-operator-editor>
                    <button type="button" mat-icon-button
                            [attr.test-button-delete-rule-validate-clause]="validateClause.id"
                            matTooltip="Delete this when clause"
                            color="primary"
                            (click)="onDeleteRuleValidation($event, i, validateClause)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="when-section">
            When :
            <div class="when-controls">
                <button type="button" [attr.test-button-add-rule-when-clause]="''" mat-flat-button color="primary" (click)="onAddRuleWhen($event)">Add When Clause</button>
            </div>
            <div class="when-clauses-section" *ngIf="whenClauses.length > 0">
                <div class="when-clause-section" *ngFor="let whenClause of whenClauses; let i = index">
                    <app-attribute-operator-editor
                            [attr.test-when-clause-attribute-editor]="whenClause.id"
                            [attributes]="attributes"
                            [itemValueOperatorAndAttribute]="whenClause"
                            (events)="onWhenClauseChange($event, i)">
                    </app-attribute-operator-editor>
                    <button mat-icon-button
                            matTooltip="delete this when clause"
                            [attr.test-button-delete-rule-when-clause]="whenClause.id"
                            color="primary"
                            type="button" (click)="onDeleteRuleWhen($event, i, whenClause)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="main-controls">
            <button type="submit" mat-flat-button color="primary" [disabled]="formGroup.invalid" [attr.test-button-done]="''">Done</button>
            <button type="button" mat-flat-button color="primary" (click)="onCancel($event)" [attr.test-button-cancel]="''">Cancel</button>
        </div>
    </form>
</div>
