<div class="rules-table-component">
  <div class="main-controls">
    <button type="button" [attr.test-button-add-rule]="''" mat-flat-button color="primary" (click)="onAddRule($event)">Add Rule</button>
  </div>
  <div *ngIf="rules.length === 0">
    No rules available.
  </div>
  <mat-accordion *ngIf="rules.length > 0">
    <mat-expansion-panel *ngFor="let rule of rules; let i = index;">
      <mat-expansion-panel-header [attr.test-panel-header-rule]="rule.name"
                                  [attr.test-panel-rule-status]="rule.status">
        <mat-panel-title>
          <mat-icon *ngIf="isDisabled(rule)" color="primary">label_off</mat-icon>
          <mat-icon *ngIf="isEnabled(rule)" color="primary">label</mat-icon>
          <span>{{rule.name}}</span>
        </mat-panel-title>
        <mat-panel-description >
            <div class="description">
              {{rule.description}}
            </div>
            <div class="controls">
              <button type="button" [attr.test-icon-remove-rule]="rule.name" mat-icon-button color="primary" (click)="onDeleteRule($event, rule)" matTooltip="Delete Rule"><mat-icon>delete_outline</mat-icon></button>
              <button type="button" [attr.test-icon-enable-rule]="rule.name" mat-icon-button color="primary" *ngIf="isDisabled(rule)" (click)="onEnableRule($event, rule)" matTooltip="Enable Rule"><mat-icon>add_circle_outline</mat-icon></button>
              <button type="button" [attr.test-icon-disable-rule]="rule.name" mat-icon-button color="primary" *ngIf="isEnabled(rule)" (click)="onDisableRule($event, rule)" matTooltip="Disable Rule"><mat-icon>remove_circle_outline</mat-icon></button>
              <button type="button" [attr.test-icon-edit-rule-popout]="rule.name" mat-icon-button color="primary" (click)="onEditRule($event, rule)" matTooltip="Edit Rule (popout)"><mat-icon>open_in_new</mat-icon></button>
              <button type="button" [attr.test-icon-edit-rule]="rule.name" mat-icon-button color="primary" (click)="onExternalEdit($event, rule)" matTooltip="Edit Rule"><mat-icon>edit</mat-icon></button>
            </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- content -->
      <div class="content" [attr.test-panel-content-rule]="rule.name">
        <div class="validate-clauses-section">
          <div>Validate</div>
          <div *ngIf="!rule?.validateClauses || rule?.validateClauses?.length === 0" class="validate-clauses">No validate clause(s)</div>
          <ul *ngIf="rule?.validateClauses?.length > 0" class="validate-clauses">
            <ng-container *ngFor="let validateClause of rule.validateClauses">
              <li class="validate-clause">
                {{validateClause.attributeName}}
                {{validateClause.operator}}
                {{validateClause?.condition | itemAttributeValueAsString:findAttribute(validateClause.attributeId)}}
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="when-clauses-section">
          <div>When</div>
          <div *ngIf="!rule?.whenClauses || rule?.whenClauses?.length === 0">No when clause(s)</div>
          <ul *ngIf="rule?.whenClauses?.length > 0" class="when-clauses">
            <ng-container *ngFor="let whenClause of rule.whenClauses">
              <li class="when-clause">
                {{whenClause.attributeName}}
                {{whenClause.operator}}
                {{whenClause?.condition | itemAttributeValueAsString:findAttribute(whenClause.attributeId)}}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
