<div class="settings-page" [attr.test-page-title]="'settings'" [attr.test-page-ready]="''+(ready)">
  <mat-card class="mat-elevation-z-20">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
      <mat-card-subtitle>
          Make changes to  applications settings
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-loading [show]="!ready"></app-loading>
        <app-settings *ngIf="ready"
                      [attr.test-settings]="''"
                      [user]="currentUser"
                      [settings]="settings"
                      (events)="onSettingsEvent($event)">
        </app-settings>
    </mat-card-content>
  </mat-card>
</div>
