<div class="bulk-edit-page" [attr.test-page-title]="'bulk-edit'" [attr.test-page-ready]="''+(!!allViews && !!attributes)">
   <mat-card class="mat-elevation-z-20">
       <mat-card-header>
           <mat-card-title>Bulk Edit</mat-card-title>
           <mat-card-subtitle>
                Perform bulk edit on data through a wizard
           </mat-card-subtitle>
       </mat-card-header>
       <mat-card-content>
           <mat-form-field class="select-view-form-field">
               <mat-label>View</mat-label>
               <mat-select [value]="currentView" [attr.test-mat-select-current-view]="''" (selectionChange)="onViewSelectionChanged($event)">
                   <mat-option *ngFor="let view of allViews" [value]="view" [attr.test-mat-select-option-current-view]="view.name">
                       {{view.name}}
                   </mat-option>
               </mat-select>
               <mat-hint>Select a view for bulk editing</mat-hint>
           </mat-form-field>

           <ng-container *ngIf="attributes && attributes.length">
               <app-bulk-edit-wizard [attr.test-bulk-edit-wizard]="currentView.name"
                                     [getJobLogsFn]="getJobLogsFn"
                                     [getPreviewFn]="getPreviewFn"
                                     [scheduleBulkEditJobFn]="scheduleBulkEditJobFn"
                                     (events)="onBulkEditWizardEvent($event)"
                                     [view]="currentView"
                                     [attributes]="attributes">
               </app-bulk-edit-wizard>
           </ng-container>
       </mat-card-content>
   </mat-card>
</div>
