<div class="bulk-edit-wizard-component">
    <mat-horizontal-stepper [linear]="false">
        <!-- 1] First step -->
        <mat-step [stepControl]="formGroupFirstStep">
            <ng-template matStepLabel>Conditions for builk edit</ng-template>
            <form [formGroup]="formGroupFirstStep" (ngSubmit)="onFirstStepSubmit()">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Change</mat-card-title>
                        <mat-card-subtitle>Configure the changes for builk edit</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="change-clause-entry" *ngFor="let itemValueAndAttribute of changeClauses; let i = index">
                            <div class="controls">
                                <button mat-icon-button color="primary" (click)="deleteChangeClause(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                            <app-data-editor-no-popup
                                    (events)="onChangeClauseEvent(i, $event)"
                                    [attributes]="attributes"
                                    [itemValueAndAttribute]="itemValueAndAttribute">
                            </app-data-editor-no-popup>
                        </div>
                        <div class="change-clause-controls">
                            <button mat-flat-button color="primary" type="button" (click)="addChangeClause()">Add change clause</button>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Where</mat-card-title>
                        <mat-card-subtitle>Configure 'where' conditions where bulk edit would take place</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="where-clause-entry" *ngFor="let itemValueAndAttribute of whereClauses; let i = index">
                            <div class="controls">
                                <button mat-icon-button color="primary" (click)="deleteWhereClause(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                            <app-data-editor-no-popup
                                    (events)="onWhereClauseEvent(i, $event)"
                                    [attributes]="attributes"
                                    [itemValueAndAttribute]="itemValueAndAttribute">
                            </app-data-editor-no-popup>
                        </div>
                        <div class="where-clause-controls">
                            <button mat-flat-button color="primary" type="button" (click)="addWhereClause()">Add where clause</button>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div>
                    <mat-divider></mat-divider>
                    <div class="wizard-controls">
                        <button [disabled]="formGroupFirstStep.invalid" mat-flat-button matStepperNext type="submit" color="primary">Next</button>
                    </div>
                </div>
            </form>
        </mat-step>


        <!-- 2] Second Step -->
        <mat-step>
            <ng-template matStepLabel>Review bulk edis</ng-template>
            <form [formGroup]="formGroupSecondStep">

                <mat-divider></mat-divider>
                <div class="wizard-controls">
                    <button type="submit" mat-flat-button matStepperPrevious color="primary">Previous</button>
                    <button type="submit" mat-flat-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step>

        <!-- 3] Final Step -->
        <mat-step>

        </mat-step>

    </mat-horizontal-stepper>
</div>
