<div class="pricing-structure-table-component">

    <div class="controls">
        <button type="button" [attr.test-button-new-pricing-structure]="''" mat-flat-button color="primary" (click)="onNewPricingStructure($event)">New Pricing Structure</button>
    </div>

    <mat-form-field class="pricing-structure-selection">
        <mat-label>Pricing Structure </mat-label>
        <mat-select [attr.test-mat-select-pricing-structure]="''" (selectionChange)="onPricingStructureSelectionChanged($event)" [(value)]="pricingStructure">
            <mat-option [value]="undefined">--- Select one ---</mat-option>
            <mat-option [attr.test-mat-select-option-pricing-structure]="ps.viewName+'-'+ps.name"
                        *ngFor="let ps of pricingStructureInput.pricingStructures" [value]="ps">
                {{ps.id}} - {{ps.name}} in view {{viewForPricingStructure(ps)?.name}}
            </mat-option>
        </mat-select>
        <mat-hint>Select a pricing structure</mat-hint>
    </mat-form-field>


    <ng-container *ngIf="pricingStructure">
        <div class="pricing-structure-info">
            <div class="controls">
                <button type="button" mat-flat-button color="primary" [attr.test-button-delete-pricing-structure]="pricingStructure.name" (click)="onDeletePricingStructure($event, pricingStructure)">Delete Pricing Structure</button>
                <button type="button" mat-flat-button color="primary" [attr.test-button-edit-pricing-structure]="pricingStructure.name" (click)="onEditPricingStructure($event, pricingStructure)">Edit Pricing Structure</button>
            </div>
            <div class="content">
                <div>ID: {{pricingStructure.id}}</div>
                <div>Name: {{pricingStructure.name}}</div>
                <div>Description: {{pricingStructure.description}}</div>
                <div>View: {{viewForPricingStructure(pricingStructure)?.name}}</div>
            </div>
        </div>
    </ng-container>


    <div class="no-pricings" *ngIf="pricingStructure && !pricingStructureWithItems"> No Pricings </div>
    <ng-container *ngIf="pricingStructure && pricingStructureWithItems">

        <div class="pricing-structure-items">
            <div class="content">
                <table mat-table [dataSource]="dataSource" [attr.test-pricing-structure-items-table]="pricingStructure.name">
                    <ng-container matColumnDef="expansion" sticky>
                        <th mat-header-cell class="expansion-header" *matHeaderCellDef></th>
                        <td mat-cell class="expansion" *matCellDef="let pricingStructureItem">
                            <mat-icon class="selectable" [attr.test-table-row-expand]="pricingStructureItem.itemName" *ngIf="!isRowExpanded(pricingStructureItem)" (click)="rowClicked(pricingStructureItem)">chevron_right</mat-icon>
                            <mat-icon class="selectable" [attr.test-table-row-collapse]="pricingStructureItem.itemName" *ngIf="isRowExpanded(pricingStructureItem)" (click)="rowClicked(pricingStructureItem)">expand_more</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="children-expansion" sticky>
                        <th mat-header-cell class="expansion-header" *matHeaderCellDef></th>
                        <td mat-cell class="expansion" *matCellDef="let pricingStructureItem">
                            <div class="depth-{{pricingStructureItem.depth}}">
                                <mat-icon>last_page</mat-icon>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let pricingStructureItem">{{pricingStructureItem.itemName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let pricingStructureItem">{{pricingStructureItem.itemDescription}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pricing">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell [attr.test-table-column-price]="pricingStructureItem.itemName" *matCellDef="let pricingStructureItem">{{pricingStructureItem.price | currency}}</td>
                    </ng-container>

                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>Currency Country</th>
                        <td mat-cell [attr.test-table-column-unit]="pricingStructureItem.itemName" *matCellDef="let pricingStructureItem">{{pricingStructureItem.country}}</td>
                    </ng-container>

                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef>Creation Date</th>
                        <td mat-cell *matCellDef="let pricingStructureItem">{{pricingStructureItem.creationDate | date}}</td>
                    </ng-container>

                    <ng-container matColumnDef="lastUpdate">
                        <th mat-header-cell *matHeaderCellDef>Last Update</th>
                        <td mat-cell *matCellDef="let pricingStructureItem">{{pricingStructureItem.lastUpdate | date}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let pricingStructureItem" class="action-controls">
                            <button type="button" mat-flat-button color="primary" [attr.test-button-edit-pricing]="pricingStructureItem.itemName" (click)="onEditPricingStructureItem($event, pricingStructureItem)">Edit</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row class="item-header" *matHeaderRowDef="['expansion', 'name', 'description', 'creationDate', 'lastUpdate', 'pricing', 'country', 'actions']"></tr>
                    <tr mat-row class="item" [attr.test-table-row-item]="tableItem.itemName" *matRowDef="let tableItem; columns: ['expansion', 'name', 'description', 'creationDate', 'lastUpdate', 'pricing', 'country', 'actions'];"></tr>
                    <tr mat-row class="item" [attr.test-table-row-item]="tableItem.itemName" *matRowDef="let tableItem; columns: ['children-expansion', 'name', 'description', 'creationDate', 'lastUpdate', 'pricing', 'country', 'actions']; when: isChildRow"
                             [@detailExpand]="isAnyParentRowExpanded(tableItem) ? 'expanded' : 'collapsed'"></tr>
                </table>

                <app-pagination [pagination]="pagination" (events)="onPaginationEvent($event)"></app-pagination>
            </div>
        </div>
    </ng-container>
</div>
