<div class="clock-widget-component">
    <mat-form-field>
        <mat-label>Location</mat-label>
        <mat-select (selectionChange)="onLocationChange($event)">
           <mat-option *ngFor="let location of locations" [value]="location" >
              {{location.displayName}}
           </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div style="text-align:center;padding:1em 0;">
        <h2>
            <a style="text-decoration:none;" href="https://www.zeitverschiebung.net/en/city/2147714">
                <span style="color:gray;">Current local time in</span>
                <br/>
                {{currentLocation.displayName}}
            </a>
        </h2>
        <iframe [attr.src]="('https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone='+currentLocation.internalName) | safe:'resourceUrl'"
                width="100%" height="140" frameborder="0" seamless></iframe>
    </div>
</div>