.profile-page {
  margin: 10px;
  .profile-page-card {
    .avatar-section {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .personal-section {
      padding-top: 20px;
      margin-bottom: 20px
    }

    .password-section {
      padding-top: 20px;
      margin-bottom: 20px
    }

    .theme-section {
      padding-top: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}
