
<div class="import-page" [attr.test-page-title]="'import'">
  <mat-card class="mat-elevation-z-20">
    <mat-card-header>
      <mat-card-title>Import data</mat-card-title>
      <mat-card-subtitle>
          Wizard to import item(s) into View
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *loadIf="!ready">Loading ...</ng-container>
      <app-import-data
              *ngIf="ready"
              [attr.test-import-data-wizard]="''"
              [views]="allViews"
              [showPreview]="showPreviewFn"
              [submitDataImport]="submitDataImportFn">
      </app-import-data>
    </mat-card-content>
  </mat-card>
</div>
