@import '../../../scss/mixins';

$spacing: 20px;

.validation-result-component {
  @include fix-mat-tab-no-scroll();
  .content {
    margin-top: 10px;
    .left {
      padding: $spacing;
      margin: $spacing;
    }
    .right {
      padding: $spacing;
      margin: $spacing;
    }
    .bottom {
      padding: $spacing;
      margin: $spacing;
    }
  }
}
