
<div class="user-search-table-component">
  <mat-form-field>
    <mat-label>{{searchFieldLabel}}</mat-label>
    <input type="text"
           [attr.test-field-search]="''"
           (keyup.enter)="onUserSearchTriggered($event)"
           placeholder="{{searchFieldPlaceholder}}"
           [formControl]="formControlUserSearch"
           matInput>
    <mat-hint>{{searchFieldHint}}</mat-hint>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user" [attr.test-table-item-user]="user.username">{{user.username}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{user.email}}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td class="action" mat-cell *matCellDef="let user">
        <mat-icon *ngFor="let actionType of actionTypes"
                  [attr.test-icon-user-action]="actionType.type + '_' +user.username"
                  class="action-type" color="primary"
                  (click)="onActionTypeClicked($event, actionType, user)"
                  [matTooltip]="actionType.tooltip">{{actionType.icon}}</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let users; columns: displayedColumns"></tr>
  </table>
</div>
