<div class="side-nav-component">

  <!-- dashboard -->
  <div [class.selected]="routeSideNavData === 'dashboard'">
    <mat-icon class="action"
              [attr.test-sidenav]="'dashboard'"
              matTooltipPosition="after"
              matTooltip="Dashboard"
              [routerLink]="['/dashboard-layout', {outlets:{primary:['dashboard'], help:['dashboard-help']}}]">
      dashboard
    </mat-icon>
  </div>

  <!-- profile -->
  <div [class.selected]="routeSideNavData === 'settings'">
    <mat-icon class="action"
              [attr.test-sidenav]="'settings'"
              matTooltipPosition="after"
              matTooltip="Settings & Profile Management"
              [routerLink]="['/settings-layout', {outlets: {primary:['profile'], help:['profile-help'] }}]">
      settings
    </mat-icon>
  </div>



  <!-- administration -->
  <div [class.selected]="routeSideNavData === 'administration'">
    <mat-icon class="action"
              [attr.test-sidenav]="'administration'"
              matTooltipPosition="after"
              matTooltip="Administration"
              [routerLink]="['/administration-layout', {outlet: {primary: ['administration'], help: ['administration-help'] }}]">
      admin_panel_settings
    </mat-icon>
  </div>

  <!-- view management -->
  <div [class.selected]="routeSideNavData === 'view'">
    <mat-icon class="action"
              [attr.test-sidenav]="'view'"
              matTooltipPosition="after"
              matTooltip="View Management"
              [routerLink]="['/view-layout', {outlets:{primary:['rules'], help: ['view-help'] }}]">
      perm_media
    </mat-icon>
  </div>

  <!-- pricing management -->
  <div [class.selected]="routeSideNavData === 'pricing'">
    <mat-icon class="action"
              [attr.test-sidenav]="'pricing'"
              matTooltipPosition="after"
              matTooltip="Pricing Management"
              [routerLink]="['/price-layout', {outlets:{primary:['pricing-structure'], help: ['pricing-help'] }}]">
      attach_money
    </mat-icon>
  </div>

  <!-- process -->
  <div [class.selected]="routeSideNavData === 'process'">
    <mat-icon class="action"
              [attr.test-sidenav]="'process'"
              matTooltipPosition="after"
              matTooltip="Process & Infrastructure Management"
              [routerLink]="['/process-layout', {outlets:{primary:['import'], help:['import-help'] }}]">
      psychology
    </mat-icon>
  </div>


  <!-- workflow -->
  <div [class.selected]="routeSideNavData === 'workflow'">
      <mat-icon class="action"
                [attr.test-sidenav]="'workflow'"
                matTooltipPosition="after"
                matTooltip="Workflow Management"
                [routerLink]="['/workflow-layout', {outlets: {primary: ['workflow-definition-listing'], help: ['workflow-help']}}]">
        alt_route
      </mat-icon>
  </div>


  <!-- partner -->
  <div>
    <mat-icon class="action"
              [attr.test-sidenav]="'partner'"
              matTooltipPostion="after"
              matTooltip="Partner Site"
              [routerLink]="['/partner-layout', {outlets:{primary: ['table'], help: ['partner-help']}}]">
      wc
    </mat-icon>
  </div>

  <!-- exit / log off -->
  <div>
    <mat-icon class="action "
              [attr.test-sidenav]="'exit'"
              matTooltipPosition="after"
              matTooltip="Logout"
              (click)="logout($event)">
      exit_to_app
    </mat-icon>

  </div>
</div>
