<div class="category-page">
    <app-loading [show]="treeLoading"></app-loading>
    <div *ngIf="(!treeLoading && (!categoriesWithItems || !!!categoriesWithItems.length))">No Categories</div>
    <app-category *ngIf="!treeLoading && view && categoriesWithItems && !!categoriesWithItems.length"
                  [viewId]="view.id"
                  [categoriesWithItems]="categoriesWithItems"
                  [getAttributesFn]="getAttributesFn"
                  [getItemsFn]="getItemsFn"
                  [deleteItemImageFn]="deleteItemImageFn"
                  [markItemImageAsPrimaryFn]="markItemImageAsPrimaryFn"
                  [saveItemAttributeValueFn]="saveItemAttributeValueFn"
                  [saveItemInfoFn]="saveItemInfoFn"
                  [saveOrUpdateTableItemsFn]="saveOrUpdateTableItemsFn"
                  [uploadItemImageFn]="uploadItemImageFn">
    </app-category>
</div>