

<div class="view-help-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Help with view
      </mat-card-title>
      <mat-card-subtitle>
        Views are essential concept in the system. The can be complicated and this help page attempts to
        demystify it in ways and hopefully make your journey on applying and configuring views easier.
        Views are the central of the system. This page should contains most if not all of the information
        required.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-help [help]="help"></app-help>
    </mat-card-content>
  </mat-card>
</div>
