<div class="all-topics-in-forum-page">
    <!--
All Topics In Forums {{forumId}}
-->


    <mat-card class="mat-elevation-z-20">
        <mat-card-header>
            <mat-card-title>Topics</mat-card-title>
            <mat-card-subtitle>
                All topics in forum {{forum?.title}} - Created by {{forum?.creator?.name}} at {{forum?.creationDate | date}}
                <div> {{forum?.description}} </div>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <!--
            All topics in forums {{forumId}}
            <ng-container *ngIf="loading">
                <div>Loading ...</div>
            </ng-container>
            <ng-container *ngIf="!loading">
                <div class="topic" *ngFor="let topic of topics">
                    <div>{{topic.id}}</div>
                    <div>{{topic.creator.name}}</div>
                    <div>{{topic.creationDate | date}}</div>
                    <div>{{topic.title}}</div>
                    <div>{{topic.description}}</div>
                </div>
            </ng-container>
            -->

            <ng-container *ngIf="loading">
                <div>Loading ...</div>
            </ng-container>
            <ng-container *ngIf="!loading">
                <div class="topic" *ngFor="let topic of topics">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-subtitle>{{topic?.title}}</mat-card-subtitle>
                            <mat-card-subtitle>Created by {{topic?.creator?.name}} at {{topic?.creationDate | date}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div>{{topic?.description}}</div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-container>

        </mat-card-content>
    </mat-card>
</div>