<div class="edit-attribute-component">
    <form [formGroup]="formGroupCommon" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Attribute Name:</mat-label>
            <input matInput
                   type="text"
                   [formControl]="formControlAttributeName"
                   placeholder="Attribute Name">
            <mat-hint>Enter the attribute name</mat-hint>
            <mat-error *ngIf="formControlAttributeName?.errors?.required">Attribute name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Attribute Description:</mat-label>
            <textarea matInput
                      [formControl]="formControlAttributeDescription"
                      placeholder="Attribute Description">
      </textarea>
            <mat-hint>Enter a description for the attribute</mat-hint>
            <mat-error *ngIf="formControlAttributeDescription?.errors?.required">Attribute description is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Attribute Type</mat-label>
            <mat-select (selectionChange)="onAttributeTypeChange($event)"
                        [formControl]="formControlAttributeType"
                        [value]="currentSelectedAttributeType">
                <mat-option *ngFor="let attributeType of attributeTypes" [value]="attributeType">
                    {{attributeType}}
                </mat-option>
            </mat-select>
            <mat-hint>Select an Attribute Type</mat-hint>
            <mat-error *ngIf="formControlAttributeType?.errors?.required">Attribute type is required</mat-error>
        </mat-form-field>

        <ng-container *ngIf="currentSelectedAttributeType === 'string'">
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'text'">
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'number'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="string"
                       [formControl]="formControlNumberAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlNumberAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'date'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       [formControl]="formControlDateAttributeFormat"
                       placeholder="Min Date">
                <mat-hint>Enter a date format</mat-hint>
                <mat-error *ngIf="formControlDateAttributeFormat?.errors?.dateFormat">Invalid date format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'currency'">
            <div class="currency-attribute-type-options">
                <mat-label class="mat-small">Country</mat-label>
                <mat-radio-group [formControl]="formControlCurrencyAttributeCountry">
                    <mat-radio-button [value]="true" class="mat-small">Enable</mat-radio-button>
                    <mat-radio-button [value]="false" class="mat-small">Disabled</mat-radio-button>
                </mat-radio-group>
                <mat-hint class="mat-small">Force a country currency to be selected</mat-hint>
            </div>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'dimension'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       placeholder="Number format"
                       [formControl]="formControlDimensionAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlDimensionAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'volume'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       placeholder="Number format"
                       [formControl]="formControlVolumeAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlVolumeAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'area'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       placeholder="Number format"
                       [formControl]="formControlAreaAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlAreaAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'width'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       placeholder="Number format"
                       [formControl]="formControlWidthAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlWidthAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'height'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       placeholder="Number format"
                       [formControl]="formControlHeightAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlHeightAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'length'">
            <mat-form-field>
                <mat-label>Format</mat-label>
                <input matInput
                       type="text"
                       placeholder="Number format"
                       [formControl]="formControlLengthAttributeFormat">
                <mat-hint>Enter a number format</mat-hint>
                <mat-error *ngIf="formControlLengthAttributeFormat?.errors?.numberFormat">Invalid number format</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'select'">
            <div class="select-attribute-type-options">
                <app-single-select  #singleSelectComponent
                                    [rootFormGroup]="formGroupCommon"
                                    [pairs]="attribute.pair1">
                </app-single-select>
            </div>
        </ng-container>

        <ng-container *ngIf="currentSelectedAttributeType === 'doubleselect'">
            <div class="doubleselect-attribute-type-options">
                <app-double-select #doubleSelectComponent
                                   [rootFormGroup]="formGroupCommon"
                                   [pairs1]="attribute.pair1"
                                   [pairs2]="attribute.pair2">
                </app-double-select>
            </div>
        </ng-container>

        <div class="controls">
            <button type="submit" mat-flat-button color="primary" [disabled]="formGroupCommon.invalid">Done</button>
            <button type="button" mat-flat-button color="primary" (click)="onCancelClicked($event)">Cancel</button>
        </div>
    </form>
</div>
