.edit-attribute-dialog-component {
  ::ng-deep .edit-attribute-component {
    form {
      .select-attribute-type-options {
          .single-select-component {
            .selection-pairs {
              max-height: 30vh;
            }
          }
      }

      .doubleselect-attribute-type-options {
          .double-select-component {
            .pair1-selection-pairs {
              max-height: 20vh;
            }
            .pair2-selection-pairs {
              max-height: 20vh;
            }
          }
      }
    }
  }
}
