<div class="view-only-data-table-component">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let attribute" [attr.test-table-column-attribute-name]="attribute.name">{{attribute.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let attribute">{{attribute.description}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let attribute" [attr.test-table-column-attribute-type]="attribute.type">{{attribute.type}}</td>
        </ng-container>
        <ng-container matColumnDef="metadata">
            <th mat-header-cell *matHeaderCellDef>Metadata</th>
            <td mat-cell *matCellDef="let attribute">
                <!-- string -->
                <ng-container *ngIf="attribute.type === 'string'">
                </ng-container>

                <!-- text -->
                <ng-container *ngIf="attribute.type === 'text'">
                </ng-container>

                <!-- number -->
                <ng-container *ngIf="attribute.type === 'number'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- date -->
                <ng-container *ngIf="attribute.type ==='date'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- time -->
                <ng-container *ngIf="attribute.type === 'time'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- datetime -->
                <ng-container *ngIf="attribute.type === 'datetime'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- currency -->
                <ng-container *ngIf="attribute.type === 'currency'">
                    showCurrencyCountry: {{attribute?.showCurrencyCountry}}
                </ng-container>

                <!-- volumne -->
                <ng-container *ngIf="attribute.type === 'volumne'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- dimension -->
                <ng-container *ngIf="attribute.type === 'dimension'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- area -->
                <ng-container *ngIf="attribute.type === 'area'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- width -->
                <ng-container *ngIf="attribute.type === 'width'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- height -->
                <ng-container *ngIf="attribute.type === 'height'">
                    format: {{attribute?.format}}
                </ng-container>

                <!-- length -->
                <ng-container *ngIf="attribute.type === 'length'">
                    format: {{attribute?.format}}
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [attr.test-table-row]="attribute.name" *matRowDef="let attribute; columns: displayedColumns"></tr>
    </table>
</div>
