.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    width: 35vw;
    opacity: 0.888;

    .header-image {
      width: 85px;
      img {
        margin-left: 15px;
        width: 70px;
      }
    }

    .form, .control {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > * {
        width: 100%;
      }
    }

    .text {
      margin: 15px 0;
    }

    .control {
      .link {
        margin-top: 10px;
        .register-link, .forgot-password-link {
          padding: 3px;
          border-radius: 2px;
          color: var(--my-app-accent-default-contrast);
          background-color: var(--my-app-accent-default);
        }
      }
    }
  }
}
