
.item-search-component {
  .content {
    margin-top: 10px;
    .advance-search-help {
      table {
        border-spacing: 10px;
        border-collapse: collapse;
        width: 100%;
        thead {
          tr {
            th {
              text-align: left;
              vertical-align: top;
              &:first-child {
                padding-right: 20px;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: left;
              vertical-align: top;

              pre {
                white-space: pre-line;
              }
            }
          }
        }
      }
    }
  }
}
