<div class="custom-export-page" [attr.test-page-title]="'custom-export'" [attr.test-page-ready]="''+(ready)">
    <mat-card class="mat-elevation-z-20">
        <mat-card-header>
            <mat-card-title>Custom Export</mat-card-title>
            <mat-card-subtitle>
                Perform custom export
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *loadIf="!ready">Loading ...</div>
            <app-custom-export-wizard
                    *ngIf="ready"
                    [attr.test-custom-export-wizard]="''"
                    [customExportPreviewFn]="customExportPreviewFn"
                    [customExportSubmitFn]="customExportSubmitFn"
                    [customExportFormValidateFn]="customExportValidateFn"
                    [customDataExports]="customDataExports">
            </app-custom-export-wizard>
        </mat-card-content>
    </mat-card>
</div>