################################################################################
#
#   This is a systemd service unit file for fuyuko.
#
################################################################################

[Unit]
Description=Fuyuko MDM / PIM
Documentation=https://fuyuko.org
After=network.target

[Service]
Environment="ENV_VAR_1=env var 1"
Environment="ENV_VAR_2=env var 2"
Type=simple
User=tmjee
ExecStart=/home/tmjee/start-fuyuko-be.sh
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fuyuko-be
SyslogLevelPrefix=true

[Install]
WantedBy=multi-user.target

