<div class="register-page">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit();">
    <mat-card class="container">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>
          <div class="text">
            Register yourself.
          </div>
          <div class="text">
            Upon registration an administrator will need to approve your account before you can logon.
          </div>
          <div class="text">
            If you have an invite already sent to you, accepting the invite by clicking the link in
            the invitation email will allow your registration to be automatically approve.
          </div>
          <div class="text">
            Enjoy and let the fun begin!
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="form">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <mat-hint>Enter a valid email</mat-hint>
            <input matInput placeholder="Email" [formControl]="formControlEmail">
            <mat-error *ngIf="formControlEmail?.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="formControlEmail?.errors?.email">Email format must be valid</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <mat-hint>Enter a valida username</mat-hint>
            <input matInput placeholder="Username" [formControl]="formControlUsername">
            <mat-error *ngIf="formControlEmail?.errors?.required">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <mat-hint>Enter a valid password</mat-hint>
            <input matInput type="password" placeholder="Password" [formControl]="formControlPassword"
                   [errorStateMatcher]="errorStateMatcher">
            <mat-error *ngIf="formControlPassword?.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="formGroupPassword?.errors?.passwordMatch">Password must match</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <mat-hint>Enter a valid confirmation password</mat-hint>
            <input matInput type="password" placeholder="Confirm Password" [formControl]="formControlConfirmPassword"
                   [errorStateMatcher]="errorStateMatcher">
            <mat-error *ngIf="formControlPassword?.errors?.required">Confirmation password is required</mat-error>
            <mat-error *ngIf="formGroupPassword?.errors?.passwordMatch">Confirm password must match</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="control">
          <button mat-flat-button type="submit" color="primary" [disabled]="formGroup.invalid">Register</button>
          <div class="link">
            Already registered?
            Try <a href="#" class="login-link" [routerLink]="['/login-layout', 'login']">Login</a>.
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
