<div class="workflow-instance-task-details-page">

    <ng-container *ngIf="ready">
        <app-workflow-instance-task-details
                [disableWorkflowActions]="disableWorkflowActions"
                (events)="onWorkflowInstanceTaskDetailsEvent($event)"
                [workflowInstanceTask]="workflowInstanceTask">
        </app-workflow-instance-task-details>

        <app-workflow-instance-comments
                #workflowInstanceCommentsComponent="component"
                (events)="onCommentEvent($event)"
                [getCommentFn]="getCommentFn"
                [workflowInstanceId]="workflowInstanceTask.workflowInstance.id">
        </app-workflow-instance-comments>
    </ng-container>
</div>
