<div class="double-select-component">
  <div class="pair1-controls">
    <button type="button" mat-flat-button color="primary" [attr.test-button-add-kp1]="''" (click)="onAddPair1Clicked($event)">Add</button>
  </div>
  <div class="pair1-selection-pairs">
    <div class="selection-pair" *ngFor="let pair1 of pairs1; let i = index;">
      <mat-icon color="primary" (click)="onDeletePair1Clicked($event, pair1)">delete</mat-icon>
      <mat-form-field>
        <mat-label>First Selection Key</mat-label>
        <input matInput
               type="text"
               [attr.test-doubleselect-key1]="i"
               [formControl]="formControl('p1-k-'+pair1.id)">
        <mat-hint>Enter the selection key, must be unique within first selection keys</mat-hint>
        <mat-error *ngIf="formControl('p1-k-'+pair1.id)?.errors?.required">Selection key is required</mat-error>
        <mat-error *ngIf="formControl('p1-k-'+pair1.id)?.errors?.uniqueP1Key">Selection key must be unique</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>First Selection Value</mat-label>
        <input matInput
               type="text"
               [attr.test-doubleselect-value1]="i"
               [formControl]="formControl('p1-v-'+pair1.id)">
        <mat-hint>Enter the first selection value</mat-hint>
        <mat-error *ngIf="formControl('p1-k-'+pair1.id)?.errors?.required">Value is required</mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="pair2-controls">
    <button type="button" [attr.test-button-add-kp2]="''" mat-flat-button color="primary" (click)="onAddPair2Clicked($event)">Add</button>
  </div>
  <div class="pair2-selection-pairs">
    <div class="selection-pair" *ngFor="let pair2 of pairs2; let i = index;">
      <mat-icon color="primary" (click)="onDeletePair2Clicked($event, pair2)">delete</mat-icon>
      <mat-form-field>
        <mat-label>First Selection Key</mat-label>
        <input matInput
               type="text"
               [attr.test-doubleselect-key2-1]="i"
               [formControl]="formControl('p2-k1-'+pair2.id)">
        <mat-hint>Enter the first selection key, must be a valid one as enter above</mat-hint>
        <mat-error *ngIf="formControl('p2-k1-'+pair2.id)?.errors?.required">Selection Key is required</mat-error>
        <mat-error *ngIf="formControl('p2-k1-'+pair2.id)?.errors?.uniqueP2Key1">Selection Key must be one of ones entered in first selection</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Second Selection Key</mat-label>
        <input matInput
               type="text"
               [attr.test-doubleselect-key2-2]="i"
               [formControl]="formControl('p2-k2-'+pair2.id)">
        <mat-hint>Enter the Second Selection Key, must be unique within second selection keys</mat-hint>
        <mat-error *ngIf="formControl('p2-k2-'+pair2.id)?.errors?.required">Selection Key is required</mat-error>
        <mat-error *ngIf="formControl('p2-k2-'+pair2.id)?.errors?.uniqueP2Key2">Selection Key must be unique</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Second Selection Value</mat-label>
        <input matInput
               type="text"
               [attr.test-doubleselect-value2]="i"
               [formControl]="formControl('p2-v-'+pair2.id)">
        <mat-hint>Enter Second selection value</mat-hint>
        <mat-error *ngIf="formControl('p2-v-'+pair2.id)?.errors?.required">Selection Value is required</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
