<div class="data-editor-no-popup-component">


    <mat-select (selectionChange)="attributeSelectionChanged($event)">
        <mat-option *ngFor="let attribute of attributes" [value]="attribute">
            {{attribute.name}}
        </mat-option>
    </mat-select>


    <!-- string attribute value -->
    <ng-container *ngIf="attribute.type === 'string'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput
                       type="text"
                       (focusout)="valueChanged()"
                       placeholder="Enter a value"
                       [formControl]="formControl">
                <mat-hint>Enter a string value</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- text attribute value -->
    <ng-container *ngIf="attribute.type === 'text'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <textarea matInput
                          (focusout)="valueChanged()"
                          type="text"
                          [formControl]="formControl">
                </textarea>
                <mat-hint>Enter a text value</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- numeric attribute value -->
    <ng-container *ngIf="attribute.type === 'number'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput
                       type="number"
                       (focusout)="valueChanged()"
                       placeholder="Enter a value"
                       [formControl]="formControl">
                <mat-hint>Enter a numeric value</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- date attribute value -->
    <ng-container *ngIf="attribute.type === 'date'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="text" [matDatepicker]="datepicker" (dateChange)="onDateChanged($event)" [formControl]="formControl" placeholder="Enter a date">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <mat-hint>Enter a date</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- currency attribute type -->
    <ng-container *ngIf="attribute.type === 'currency'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="text" [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a value">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event);">
                    <mat-option *ngFor="let currencyUnit of currencyUnits" [value]="currencyUnit">
                        {{currencyUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a currency value</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- area attribute type -->
    <ng-container *ngIf="attribute.type === 'area'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="text" [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter an area">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let areaUnit of areaUnits" [value]="areaUnit">
                        {{areaUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter an Area</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- volume attribute type -->
    <ng-container *ngIf="attribute.type === 'volume'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" matInput [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a volume">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let volumeUnit of volumeUnits" [value]="volumeUnit">
                        {{volumeUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a volume</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- dimension attribute type -->
    <ng-container *ngIf="attribute.type === 'dimension'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Width Value</mat-label>
                <input type="text" matInput [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a width">
                <mat-hint>Enter a width</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Height Value</mat-label>
                <input type="text" matInput [formControl]="formControl2" (focusout)="valueChanged()" placeholder="Enter a height">
                <mat-hint>Entera height</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Length Value</mat-label>
                <input type="text" matInput [formControl]="formControl3" (focusout)="valueChanged()" placeholder="Enter a length">
                <mat-hint>Enter a length</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <mat-select [formControl]="formControl4" placeholder="Enter a unit" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let dimensionUnit of dimensionUnits" [value]="dimensionUnit">
                        {{dimensionUnit}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- width attribute type -->
    <ng-container *ngIf="attribute.type === 'width'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" matInput [formControl]="formControl" (focusout)="valueChanged()" placeholder="Enter a width">
                <mat-select [formControl]="formControl2" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let widthUnit of widthUnits" [value]="widthUnit">
                        {{widthUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a width</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- length attribute type -->
    <ng-container *ngIf="attribute.type === 'length'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" type="text" matInput (focusout)="valueChanged()" placeholder="Enter a length">
                <mat-select [formControl]="formControl" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let lengthUnit of lengthUnits" [value]="lengthUnit">
                        {{lengthUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a Length</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- height attribute type -->
    <ng-container *ngIf="attribute.type === 'height'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input type="text" matInput (focusout)="valueChanged()" placeholder="Enter a height">
                <mat-select [formControl]="formControl" (selectionChange)="onUnitSelectionChanged($event)">
                    <mat-option *ngFor="let heightUnit of heightUnits" [value]="heightUnit">
                        {{heightUnit}}
                    </mat-option>
                </mat-select>
                <mat-hint>Enter a height</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>

    <!-- select attribute type -->
    <ng-container *ngIf="attribute.type === 'select'">
        <form [formGroup]="formGroup">
            <mat-form-field>Selection</mat-form-field>
            <mat-select [formControl]="formControl" (selectionChange)="onSingleSelectChange($event)">
                <mat-option *ngFor="let pair of attribute.pair1" [value]="pair.key">
                    {{pair.value}}
                </mat-option>
            </mat-select>
            <mat-hint>Select a choice</mat-hint>
        </form>
    </ng-container>

    <!-- double select attribute type -->
    <ng-container *ngIf="attribute.type === 'doubleselect'">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Selection #1</mat-label>
                <mat-select [formControl]="formControl" (selectionChange)="onDoubleSelectChange($event)">
                    <mat-option *ngFor="let pair1 of attribute.pair1" [value]="pair1.key" (onSelectionChange)="onDoubleSelectPair1Change($event)">
                        {{pair1.value}}
                    </mat-option>
                </mat-select>
                <mat-hint>Choose a selection</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selection #2</mat-label>
                <mat-select [formControl]="formControl2" (selectionChange)="onDoubleSelectChange($event)">
                    <mat-option *ngFor="let pair2 of pairs2" [value]="pair2.key">
                        {{pair2.value}}
                    </mat-option>
                </mat-select>
                <mat-hint>Choose another selection</mat-hint>
            </mat-form-field>
        </form>
    </ng-container>
</div>
