<div class="bulk-edit-review-table-component">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="empty-header">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="when-header">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="whenAttributes.length">When</th>
        </ng-container>
        <ng-container matColumnDef="change-header">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="(changeAttributes.length * 2)">Change</th>
        </ng-container>

        <ng-container matColumnDef="item-number-header">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">#</th>
        </ng-container>

        <ng-container matColumnDef="item-info-header">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Item</th>
        </ng-container>
        <ng-container *ngFor="let whenAttribute of whenAttributes">
            <ng-container matColumnDef="when-attributes-header-{{propValueInAttribute(whenAttribute, 'uid')}}-{{whenAttribute.id}}">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                    {{whenAttribute.name}}
                </th>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let changeAttribute of changeAttributes">
            <ng-container matColumnDef="change-attributes-header-{{propValueInAttribute(changeAttribute, 'uid')}}-{{changeAttribute.id}}">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">{{changeAttribute.name}}</th>
            </ng-container>
        </ng-container>

        <ng-container *ngFor="let changeAttribute of changeAttributes">
            <ng-container matColumnDef="change-old-values-header-{{propValueInAttribute(changeAttribute, 'uid')}}-{{changeAttribute.id}}">
                <th mat-header-cell *matHeaderCellDef>Old</th>
            </ng-container>
            <ng-container matColumnDef="change-new-values-header-{{propValueInAttribute(changeAttribute, 'uid')}}-{{changeAttribute.id}}">
                <th mat-header-cell *matHeaderCellDef>New</th>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="item-number-cell">
            <td mat-cell *matCellDef="let bulkEditTableItem; let i = index">#{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="item-info-cell">
            <td mat-cell  *matCellDef="let bulkEditTableItem">
                {{bulkEditTableItem.name}} (Id: {{bulkEditTableItem.id}})
            </td>
        </ng-container>

        <ng-container *ngFor="let whenAttribute of whenAttributes">
            <ng-container matColumnDef="{{propValueInAttribute(whenAttribute, 'uid')}}-{{whenAttribute.id}}">
                <td mat-cell *matCellDef="let bulkEditTableItem" [attr.test-table-column-when]="whenAttribute.name">
                    {{bulkEditTableItem.whens[whenAttribute.id].operator}}
                    {{bulkEditTableItem.whens[whenAttribute.id].val | itemAttributeValueAsString:whenAttribute}}
                </td>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let changeAttribute of changeAttributes">
            <ng-container matColumnDef="old-{{propValueInAttribute(changeAttribute, 'uid')}}-{{changeAttribute.id}}">
                <td [attr.test-table-column-old-value]="changeAttribute.name" mat-cell *matCellDef="let bulkEditTableItem">
                    {{bulkEditTableItem.changes[changeAttribute.id]?.old | itemAttributeValueAsString:changeAttribute}}
                </td>
            </ng-container>
            <ng-container matColumnDef="new-{{propValueInAttribute(changeAttribute, 'uid')}}-{{changeAttribute.id}}">
                <td [attr.test-table-column-new-value]="changeAttribute.name" mat-cell *matCellDef="let bulkEditTableItem">
                    {{bulkEditTableItem.changes[changeAttribute.id]?.new | itemAttributeValueAsString:changeAttribute}}
                </td>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['empty-header', 'empty-header', 'when-header', 'change-header']"></tr>
        <tr mat-header-row *matHeaderRowDef="attributeHeaderColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="changeOldNewValuesHeaderColumns"></tr>
        <tr mat-row [attr.test-table-row-item]="bulkEditTableItem.name" *matRowDef="let bulkEditTableItem; columns: displayedColumns"></tr>

    </table>

</div>
