<div class="partner-data-table-component">
    <mat-sidenav-container [hasBackdrop]="false">
        <mat-sidenav #sideNav position="end" [disableClose]="true" [fixedInViewport]="false">
            <mat-icon (click)="onCloseSideNav($event)">close</mat-icon>
            <div>
                Side Nav
                <div fxLayout="column" *ngIf="selectedTablePricedItem">
                    <div fxFlex *ngFor="let attribute of attributes">
                        <div fxLayout="row">
                            <div fxFlex>
                               {{attribute.name}}
                            </div>
                            <div fxFlex>
                               {{selectedTablePricedItem[attribute.id] | itemAttributeValueAsString:attribute}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-table [dataSource]="datasource">
                <ng-container matColumnDef="selection" sticky>
                    <mat-header-cell class="selection-header" *matHeaderCellDef>
                        <mat-checkbox (change)="masterToggle($event)"
                                      [checked]="isMasterToggleChecked()"
                                      [indeterminate]="isMasterToggleIndetermine()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="selection" *matCellDef="let tableItem">
                        <mat-checkbox (change)="nonMasterToggle($event, tableItem)"
                                      [checked]="isNonMasterToggleChecked(tableItem)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell class="attribute-header" *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell class="attribute" *matCellDef="let tableItem">
                        {{tableItem.name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell class="attribute-header" *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell class="attribute" *matCellDef="let tableItem">
                        {{tableItem.description}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions" sticky>
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let tableItem">
                        <mat-icon (click)="onViewDetailsClicked(tableItem)">queue</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="children-actions" sticky>
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let tableItem">
                        <mat-icon (click)="onViewDetailsClicked(tableItem)">queue</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="children-selection" sticky>
                    <mat-header-cell class="selection-header" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="selection" *matCellDef="let tableItem"></mat-cell>
                </ng-container>

                <ng-container matColumnDef="expansion" sticky>
                    <mat-header-cell class="expansion-header" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="expansion" *matCellDef="let tableItem">
                        <mat-icon class="selectable" *ngIf="!isRowExpanded(tableItem)" (click)="rowClicked(tableItem)">chevron_right</mat-icon>
                        <mat-icon class="selectable" *ngIf="isRowExpanded(tableItem)" (click)="rowClicked(tableItem)">expand_more</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="children-expansion" sticky>
                    <mat-header-cell class="expansion-header" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="expansion" *matCellDef="let tableItem">
                        <div class="depth-{{tableItem.depth}}">
                            <mat-icon>last_page</mat-icon>
                        </div>
                    </mat-cell>
                </ng-container>


                <ng-container *ngFor="let attribute of attributes">
                    <ng-container [matColumnDef]="''+attribute.id">
                        <mat-header-cell class="attribute-header" *matHeaderCellDef>{{attribute.name}}</mat-header-cell>
                        <mat-cell class="attribute" *matCellDef="let tableItem">
                            {{getItemValue(tableItem, attribute) | itemAttributeValueAsString:attribute}}
                        </mat-cell>
                    </ng-container>
                </ng-container>

                <mat-header-row class="item-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="item" *matRowDef="let tableItem; columns: displayedColumns;"></mat-row>
                <mat-row class="item" *matRowDef="let tableItem; columns: childrenDisplayedColumns; when: isChildRow"
                         [@detailExpand]="isAnyParentRowExpanded(tableItem) ? 'expanded' : 'collapsed'"></mat-row>
            </mat-table>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
