<div class="partner-data-list-component">
    <mat-sidenav-container [hasBackdrop]="false">
        <mat-sidenav #sideNav position="end" mode="side" [disableClose]="true" [fixedInViewport]="true" fixedTopGap="65">
            <mat-icon (click)="onCloseSideNav($event)" class="close-icon">close</mat-icon>
            <div class="side-nav">
                <app-partner-attribute-table *ngIf="selectedPricedItem"
                                             [item]="selectedPricedItem"
                                             [attributes]="attributes">
                </app-partner-attribute-table>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let item of pricedItems; let i = index;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <section> <a (click)="onItemClicked($event, item)">{{item.name}}</a> </section>
                        </mat-panel-title>
                        <mat-panel-description>{{item.description}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <app-carousel [itemId]="item.id" [images]="getCarouselImages(item)" [allowEdit]="false"></app-carousel>
                    </div>
                    <div> <a (click)="onItemClicked($event, item)">{{item.name}}</a> </div>
                    <div> {{item.description}} </div>
                    <div> Price: {{item.price | currency:item.country}}</div>
                    <div *ngFor="let attribute of attributes; let i = index;">
                        {{item[attribute.id] | itemAttributeValueAsString:attribute}}
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
