<div class="partner-data-thumbnail-component">
    <mat-sidenav-container [hasBackdrop]="false">
        <mat-sidenav #sideNav position="end" mode="side" [disableClose]="true" [fixedInViewport]="true" fixedTopGap="65">
            <mat-icon (click)="onCloseSideNav($event)" class="close-icon">close</mat-icon>
            <div class="side-nav">
                <app-partner-attribute-table *ngIf="selectedPricedItem"
                                             [item]="selectedPricedItem"
                                             [attributes]="attributes">
                </app-partner-attribute-table>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="thumbnail-content">
                <div class="grid" *ngFor="let item of pricedItems">
                    <div class="controls">
                        <mat-icon color="primary" (click)="onViewDetailsClicked($event, item)">more</mat-icon>
                    </div>
                    <div class="carousel">
                        <app-carousel [images]="getItemImagesUrl(item)"></app-carousel>
                    </div>
                    <div> {{item.name}} </div>
                    <div> {{item.description}} </div>
                    <div class="attribute" *ngFor="let attribute of attributes; let i = index">
                        <ng-container *ngIf="i < 2">
                            {{attribute.name}}: {{item[attribute.id] | itemAttributeValueAsString:attribute}}
                        </ng-container>
                        <ng-container *ngIf="i >= 2">
                            <div *ngIf="isShowMore(item)">
                                {{attribute.name}}: {{item[attribute.id] | itemAttributeValueAsString:attribute}}
                            </div>
                        </ng-container>
                    </div>
                    <div><a href="#" class="show-more-link mat-hint mat-caption" (click)="showMore($event, item)">
                        <ng-container *ngIf="isShowMore(item)">Show less ...</ng-container>
                        <ng-container *ngIf="!isShowMore(item)">Show more ...</ng-container>
                    </a></div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
